In [262]:
import folium
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import math
from datetime import timedelta
# Mapping
import geopandas
import geopy
from geopy.geocoders import Nominatim
import folium
from geopy.extra.rate_limiter import RateLimiter
from folium import plugins
from folium.plugins import MarkerCluster
# Statistical OLS Regression Analysis
%matplotlib inline
import statsmodels.api as sm
from statsmodels.compat import lzip
from statsmodels.formula.api import ols
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [263]:
crime_data = pd.read_csv('/Users/rupaliwadhawan/Downloads/AI_locations.csv')

In [264]:
crime_data.head()

,X,Y,OBJECTID,EVENT_UNIQUE_ID,OCC_DATE,OCC_YEAR,OCC_MONTH,OCC_DOW,OCC_DOY,OCC_DAY,...,OCC_TIME_RANGE,DIVISION,DEATH,INJURIES,HOOD_158,NEIGHBOURHOOD_158,HOOD_140,NEIGHBOURHOOD_140,LONG_WGS84,LAT_WGS84
0,-79.234955,43.781528,1,GO-2004397105,2004/05/15 04:00:00+00,2004,May,Saturday,136,15,...,Night,D41,0,0,142,Woburn North,137,Woburn (137),-79.234955,43.781528
1,-79.618218,43.733547,2,GO-2004600109,2004/07/26 04:00:00+00,2004,July,Monday,208,26,...,Evening,D23,0,0,1,West Humber-Clairville,1,West Humber-Clairville (1),-79.618218,43.733547
2,-79.518759,43.769157,3,GO-2004311851,2004/05/14 04:00:00+00,2004,May,Friday,135,14,...,Afternoon,D31,1,1,24,Black Creek,24,Black Creek (24),-79.518759,43.769157
3,-79.378870,43.660665,4,GO-2004736004,2004/12/19 05:00:00+00,2004,December,Sunday,354,19,...,Night,D51,1,0,168,Downtown Yonge East,75,Church-Yonge Corridor (75),-79.378870,43.660665
4,-79.212435,43.812075,5,GO-2004303455,2004/04/12 04:00:00+00,2004,April,Monday,103,12,...,Evening,D42,0,0,146,Malvern East,132,Malvern (132),-79.212435,43.812075

In [265]:
# Convert time objects
crime_data['OCC_DATE'] = pd.to_datetime(crime_data['OCC_DATE'])
crime_data['date'] = [d.date() for d in crime_data['OCC_DATE']]
crime_data['time'] = [d.time() for d in crime_data['OCC_DATE']]
crime_data['day'] = crime_data['OCC_DATE'].dt.day_name().to_string()
# Find Fractions of Day
crime_data['timeint'] = (crime_data['OCC_DATE']-crime_data['OCC_DATE'].dt.normalize()).dt.total_seconds()/timedelta(days=1).total_seconds()

In [266]:
crime_data.head()

,X,Y,OBJECTID,EVENT_UNIQUE_ID,OCC_DATE,OCC_YEAR,OCC_MONTH,OCC_DOW,OCC_DOY,OCC_DAY,...,HOOD_158,NEIGHBOURHOOD_158,HOOD_140,NEIGHBOURHOOD_140,LONG_WGS84,LAT_WGS84,date,time,day,timeint
0,-79.234955,43.781528,1,GO-2004397105,2004-05-15 04:00:00+00:00,2004,May,Saturday,136,15,...,142,Woburn North,137,Woburn (137),-79.234955,43.781528,2004-05-15,04:00:00,0 Saturday\n1 Monday\n2 ...,0.166667
1,-79.618218,43.733547,2,GO-2004600109,2004-07-26 04:00:00+00:00,2004,July,Monday,208,26,...,1,West Humber-Clairville,1,West Humber-Clairville (1),-79.618218,43.733547,2004-07-26,04:00:00,0 Saturday\n1 Monday\n2 ...,0.166667
2,-79.518759,43.769157,3,GO-2004311851,2004-05-14 04:00:00+00:00,2004,May,Friday,135,14,...,24,Black Creek,24,Black Creek (24),-79.518759,43.769157,2004-05-14,04:00:00,0 Saturday\n1 Monday\n2 ...,0.166667
3,-79.378870,43.660665,4,GO-2004736004,2004-12-19 05:00:00+00:00,2004,December,Sunday,354,19,...,168,Downtown Yonge East,75,Church-Yonge Corridor (75),-79.378870,43.660665,2004-12-19,05:00:00,0 Saturday\n1 Monday\n2 ...,0.208333
4,-79.212435,43.812075,5,GO-2004303455,2004-04-12 04:00:00+00:00,2004,April,Monday,103,12,...,146,Malvern East,132,Malvern (132),-79.212435,43.812075,2004-04-12,04:00:00,0 Saturday\n1 Monday\n2 ...,0.166667

In [267]:
missing_values = crime_data.isnull().any()

# Display columns with missing values (if any)
print("Columns with Missing Values:")
print(missing_values[missing_values].index.tolist())

Columns with Missing Values:
[]

In [268]:
crime_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5707 entries, 0 to 5706
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   X                  5707 non-null   float64
 1   Y                  5707 non-null   float64
 2   OBJECTID           5707 non-null   int64
 3   EVENT_UNIQUE_ID    5707 non-null   object
 4   OCC_DATE           5707 non-null   datetime64[ns, UTC]
 5   OCC_YEAR           5707 non-null   int64
 6   OCC_MONTH          5707 non-null   object
 7   OCC_DOW            5707 non-null   object
 8   OCC_DOY            5707 non-null   int64
 9   OCC_DAY            5707 non-null   int64
 10  OCC_HOUR           5707 non-null   int64
 11  OCC_TIME_RANGE     5707 non-null   object
 12  DIVISION           5707 non-null   object
 13  DEATH              5707 non-null   int64
 14  INJURIES           5707 non-null   int64
 15  HOOD_158           5707 non-null   object
 16  NEIGHBOURHOOD_158  5707 non-null   object
 17  HOOD_140           5707 non-null   object
 18  NEIGHBOURHOOD_140  5707 non-null   object
 19  LONG_WGS84         5707 non-null   float64
 20  LAT_WGS84          5707 non-null   float64
 21  date               5707 non-null   object
 22  time               5707 non-null   object
 23  day                5707 non-null   object
 24  timeint            5707 non-null   float64
dtypes: datetime64[ns, UTC](1), float64(5), int64(7), object(12)
memory usage: 1.1+ MB

In [269]:
crime_data['OCC_TIME_RANGE']=crime_data['OCC_TIME_RANGE'].astype(str)

In [270]:
crime_data['OCC_TIME_RANGE'].unique()

array(['Night', 'Evening', 'Afternoon', 'Morning'], dtype=object)

In [271]:
# separate features and target
categorical_features = ['OCC_TIME_RANGE']
numerical_features = ['LONG_WGS84','timeint']
target = 'LONG_WGS84'

In [272]:
X_train_long, X_test_long, y_train_long, y_test_long = train_test_split(crime_data[categorical_features + numerical_features]
                                                    , crime_data[target],
                                                    test_size = 0.3, random_state=1234)

In [273]:
cat_transformer = Pipeline(steps = [('onehot', OneHotEncoder(handle_unknown='ignore'))])
num_transformer = Pipeline(steps = [('scaler', StandardScaler())])

In [274]:
preprocessor = ColumnTransformer(transformers = [('cat',cat_transformer, categorical_features),
                                                 ('num', num_transformer, numerical_features)])

In [275]:
G_B_Reg = Pipeline(steps = [
    ('preprocessor', preprocessor),
    ('regressor', GradientBoostingRegressor())
])

In [276]:
G_B_Reg.fit(X_train_long, y_train_long)

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('cat',
                                                  Pipeline(steps=[('onehot',
                                                                   OneHotEncoder(handle_unknown='ignore'))]),
                                                  ['OCC_TIME_RANGE']),
                                                 ('num',
                                                  Pipeline(steps=[('scaler',
                                                                   StandardScaler())]),
                                                  ['LONG_WGS84', 'timeint'])])),
                ('regressor', GradientBoostingRegressor())])

In [277]:
pred_long = G_B_Reg.predict(X_test_long)

In [278]:
pred_long

array([-79.39733889, -79.44024849, -79.55377158, ..., -79.44024849,
       -79.47766698, -79.39958252])

In [279]:
np.sqrt(mean_squared_error(pred_long,y_test_long))

0.0015471714004854514

In [280]:
r2 = r2_score(pred_long, y_test_long)
r2

0.9999932582820825

In [281]:
categorical_feat = ['OCC_TIME_RANGE']
numerical_feat = ['LAT_WGS84','timeint']
target_ = 'LAT_WGS84'

X_train_lat, X_test_lat, y_train_lat, y_test_lat = train_test_split(crime_data[categorical_feat + numerical_feat]
                                                    , crime_data[target_],
                                                    test_size = 0.3, random_state=123)

cat_transform = Pipeline(steps = [('onehot', OneHotEncoder(handle_unknown='ignore'))])
num_transform = Pipeline(steps = [('scaler', StandardScaler())])

preprocess = ColumnTransformer(transformers = [('cat',cat_transform, categorical_feat),
                                                 ('num', num_transform, numerical_feat)])

G_B_Reg_lat = Pipeline(steps = [
    ('preprocess', preprocess),
    ('regress', GradientBoostingRegressor())
])

G_B_Reg_lat.fit(X_train_lat, y_train_lat)

pred_lat = G_B_Reg_lat.predict(X_test_lat)

In [282]:
pred_lat

array([43.67453553, 43.75125719, 43.70108873, ..., 43.65246369,
       43.6877517 , 43.69867075])

In [283]:
pred_long

array([-79.39733889, -79.44024849, -79.55377158, ..., -79.44024849,
       -79.47766698, -79.39958252])

In [284]:
np.sqrt(mean_squared_error(pred_lat,y_test_lat))

0.0007663720372540109

In [285]:
r2_score(pred_lat,y_test_lat)

0.999999966794634

In [286]:
from folium.plugins import HeatMap

In [287]:
predicted_points = list(zip(pred_lat, pred_long))

# Create a folium map centered on Toronto
toronto_map = folium.Map(location=[43.653225, -79.383186], zoom_start=12)

# Create a heatmap layer with the predicted points
heat_map_layer = HeatMap(predicted_points, radius=15)

# Add the heatmap layer to the map
toronto_map.add_child(heat_map_layer)

# Display the map
toronto_map.save('predictions_final_1.html')

In [288]:
# Add a blue marker for the police car parking location for each neighborhood
centroid_data = crime_data.groupby('NEIGHBOURHOOD_158')[['LAT_WGS84', 'LONG_WGS84']].mean()

# Create a list to store the heatmap data
heatmap_data = []

# Add the crime location coordinates to the heatmap data list
for index, row in crime_data.iterrows():
    heatmap_data.append([row['LAT_WGS84'], row['LONG_WGS84']])

# Create the heatmap layer and add it to the map
HeatMap(heatmap_data).add_to(toronto_map)

# Display the map
toronto_map.save('predictions_final_1.html')

In [289]:
centroid_data

                              LAT_WGS84  LONG_WGS84
NEIGHBOURHOOD_158
Agincourt North               43.804764  -79.266462
Agincourt South-Malvern West  43.787643  -79.262417
Alderwood                     43.602379  -79.541462
Annex                         43.670285  -79.401407
Avondale                      43.757384  -79.406288
...                                 ...         ...
Yonge-Doris                   43.773561  -79.413987
Yonge-Eglinton                43.701449  -79.406424
Yonge-St.Clair                43.687890  -79.395057
York University Heights       43.762383  -79.490218
Yorkdale-Glen Park            43.717910  -79.451509

[159 rows x 2 columns]

In [290]:
pdd = {
    'latitude': pred_lat,
    'longitude': pred_long,
}

predicted_data_ = pd.DataFrame(pdd)
predicted_data_

       latitude  longitude
0     43.674536 -79.397339
1     43.751257 -79.440248
2     43.701089 -79.553772
3     43.751257 -79.509094
4     43.697111 -79.509094
...         ...        ...
1708  43.730875 -79.178968
1709  43.715369 -79.399501
1710  43.652464 -79.440248
1711  43.687752 -79.477667
1712  43.698671 -79.399583

[1713 rows x 2 columns]

In [291]:
from geopy.distance import geodesic

In [292]:
centroid_data = crime_data.groupby('NEIGHBOURHOOD_158')[['LAT_WGS84', 'LONG_WGS84']].mean().reset_index()

In [293]:
# Function to calculate distance between two points using Haversine formula
def calculate_distance(lat1, lon1, lat2, lon2):
    return geodesic((lat1, lon1), (lat2, lon2)).meters

# Function to find the closest neighborhood for a given location point
def find_closest_neighborhood(latitude, longitude, neighborhood_data):
    distances = []
    for _, row in neighborhood_data.iterrows():
        distance = calculate_distance(latitude, longitude, row['LAT_WGS84'], row['LONG_WGS84'])
        distances.append(distance)
    closest_index = distances.index(min(distances))
    return neighborhood_data.loc[closest_index, 'NEIGHBOURHOOD_158']

# Add a new column 'neighborhood' to the predicted_data DataFrame
predicted_data_['neighborhood'] = predicted_data_.apply(lambda row: find_closest_neighborhood(row['latitude'], row['longitude'], centroid_data), axis=1)

In [294]:
predicted_data_

       latitude  longitude                   neighborhood
0     43.674536 -79.397339                          Annex
1     43.751257 -79.440248                   Clanton Park
2     43.701089 -79.553772  Kingsview Village-The Westway
3     43.751257 -79.509094         Glenfield-Jane Heights
4     43.697111 -79.509094                         Weston
...         ...        ...                            ...
1708  43.730875 -79.178968                      Guildwood
1709  43.715369 -79.399501                  North Toronto
1710  43.652464 -79.440248                 Dufferin Grove
1711  43.687752 -79.477667        Beechborough-Greenbrook
1712  43.698671 -79.399583                 Yonge-Eglinton

[1713 rows x 3 columns]

In [295]:
predicted_data_

       latitude  longitude                   neighborhood
0     43.674536 -79.397339                          Annex
1     43.751257 -79.440248                   Clanton Park
2     43.701089 -79.553772  Kingsview Village-The Westway
3     43.751257 -79.509094         Glenfield-Jane Heights
4     43.697111 -79.509094                         Weston
...         ...        ...                            ...
1708  43.730875 -79.178968                      Guildwood
1709  43.715369 -79.399501                  North Toronto
1710  43.652464 -79.440248                 Dufferin Grove
1711  43.687752 -79.477667        Beechborough-Greenbrook
1712  43.698671 -79.399583                 Yonge-Eglinton

[1713 rows x 3 columns]

In [296]:
# Calculate centroids for each neighborhood in the predicted_data
centroid_data_predicted = predicted_data_.groupby('neighborhood')[['latitude', 'longitude']].mean().reset_index()

# Convert predicted crime data to list of points for the HeatMap
predicted_crime_points = predicted_data_[['latitude', 'longitude']].values.tolist()

# Create HeatMap for predicted crime locations
HeatMap(predicted_crime_points, radius=15).add_to(toronto_map)

# Display the map
toronto_map.save('predictions_final_1.html')

In [297]:
predicted_crime_points

[[43.67453552666002, -79.39733888521287],
 [43.75125719005796, -79.44024848534681],
 [43.70108873316162, -79.55377157609438],
 [43.75125719005796, -79.50909441406617],
 [43.69711139971001, -79.50909441406617],
 [43.69103939457374, -79.32668572393476],
 [43.811446492048916, -79.24842168774384],
 [43.63416936725679, -79.21226455147382],
 [43.69308173993112, -79.3024627990297],
 [43.70367706584088, -79.55801092475012],
 [43.75478419746817, -79.33170959247681],
 [43.70934022407598, -79.61042213015598],
 [43.67042500879449, -79.36839885108968],
 [43.69366852645224, -79.3024627990297],
 [43.648767485375764, -79.38800468758464],
 [43.758939400854615, -79.22709406233564],
 [43.73745436006534, -79.39958251914867],
 [43.71997277170111, -79.50368233528353],
 [43.65833850538834, -79.44033783394447],
 [43.71997277170111, -79.50945853400805],
 [43.763908919224626, -79.3024627990297],
 [43.69103939457374, -79.51410648497391],
 [43.75125719005796, -79.5188585510681],
 [43.78881412637156, -79.44753509356501],
 [43.739158792701225, -79.30883448367223],
 [43.70615650398258, -79.5679450176071],
 [43.763908919224626, -79.54921141932059],
 [43.74842364805419, -79.58808011380953],
 [43.75478419746817, -79.2811870483169],
 [43.74842364805419, -79.4475268812421],
 [43.65542652089258, -79.34500745233841],
 [43.78568258137402, -79.49991207441981],
 [43.651284458775734, -79.49159426053458],
 [43.69711139971001, -79.36905524586537],
 [43.722014292063605, -79.20630848334199],
 [43.76981041883904, -79.21226455147382],
 [43.789742053409675, -79.54362916680904],
 [43.64751717273875, -79.29951772861213],
 [43.69550528559802, -79.39958251914867],
 [43.763908919224626, -79.28818188363223],
 [43.81016454662078, -79.50910262638908],
 [43.722014292063605, -79.51556454961658],
 [43.74424733386183, -79.21828059924178],
 [43.64381445133091, -79.36840706341259],
 [43.739158792701225, -79.60418746093882],
 [43.70934022407598, -79.39755122925783],
 [43.67453552666002, -79.43694066018702],
 [43.72776873257389, -79.5101777792198],
 [43.765449497078144, -79.43685952391228],
 [43.68012088164389, -79.16658351263429],
 [43.69308173993112, -79.44773690141619],
 [43.782319129240484, -79.32668572393476],
 [43.69867074995042, -79.44375834234422],
 [43.661034570826544, -85.48841610843301],
 [43.734074523040306, -79.45152554198357],
 [43.67453552666002, -79.35430600497578],
 [43.68436705377785, -79.54237797793323],
 [43.774160749985356, -79.22064321310138],
 [43.71997277170111, -79.3879235513099],
 [43.734074523040306, -79.29950951628922],
 [43.739158792701225, -79.1848041853959],
 [43.76331790499851, -79.58808011380953],
 [43.608771629471775, -79.26461110681079],
 [43.67453552666002, -79.33968234600427],
 [43.71997277170111, -79.3317013801539],
 [43.739158792701225, -79.52631338221502],
 [43.75828055789372, -79.32668572393476],
 [43.62713515937304, -79.56795322993001],
 [43.76559970298727, -79.3024627990297],
 [43.64004600273031, -79.44895073091273],
 [43.64751717273875, -79.44033783394447],
 [43.79709097653001, -79.46999410754708],
 [43.72050909579592, -79.37580106623517],
 [43.73658897979441, -79.3091649908328],
 [43.635819551494386, -79.49140974440692],
 [43.75828055789372, -79.51555633729367],
 [43.70615650398258, -79.21481430269506],
 [43.79375785047506, -79.56671634451939],
 [43.68037261676654, -79.5678827512448],
 [43.7510638874773, -85.48841610843301],
 [43.656638833059205, -79.28817367130932],
 [43.73433005570774, -79.56795322993001],
 [43.70934022407598, -79.36840706341259],
 [43.76331790499851, -79.50946674633096],
 [43.80859238028341, -79.51622700378873],
 [43.65542652089258, -79.20639855495126],
 [43.71536892318894, -79.22459559334044],
 [43.767797590469755, -79.50945853400805],
 [43.667190904019584, -79.56281300015449],
 [43.734074523040306, -79.37579285391226],
 [43.68775169980894, -79.25594896941186],
 [43.79811013170179, -79.59303684902694],
 [43.70615650398258, -79.33320677561474],
 [43.651284458775734, -79.42066838766054],
 [43.721707410991954, -79.21831806539437],
 [43.72050909579592, -79.42067659998345],
 [43.7510638874773, -79.43276776345202],
 [43.740697669954706, -79.54970642552209],
 [43.76331790499851, -79.28818188363223],
 [43.64004600273031, -79.5678827512448],
 [43.66418666597709, -79.43685952391228],
 [43.79228309779402, -79.51908889925305],
 [43.68436705377785, -79.52603800361963],
 [43.65871338031702, -79.5667786108817],
 [43.71997277170111, -79.61163279401555],
 [43.64751717273875, -79.21386833210548],
 [43.648631332467204, -79.39755944158074],
 [43.64381445133091, -79.2270129260609],
 [43.725660858543726, -79.51915937793827],
 [43.79811013170179, -79.48863200511006],
 [43.78080022221703, -79.43685952391228],
 [43.6945660988415, -79.56275073379219],
 [0.001147861921628744, -79.20290473651802],
 [43.73745436006534, -79.37615103610277],
 [43.67042500879449, -79.33833130564628],
 [43.81771227995685, -79.54236976561032],
 [43.70367706584088, -79.4475268812421],
 [43.71534056864263, -79.34106840165036],
 [43.667190904019584, -79.23524041900407],
 [43.70108873316162, -79.4802750272591],
 [43.74493449741257, -79.55875964652292],
 [43.73745436006534, -79.50946674633096],
 [43.64345723043803, -79.3024627990297],
 [43.78080022221703, -79.2646193191337],
 [43.6197743231349, -79.58850928628951],
 [43.7960259816398, -79.35067855456298],
 [43.64821662093329, -79.39958251914867],
 [43.7510638874773, -79.31836541701273],
 [43.69711139971001, -79.59343214158969],
 [43.73087499476403, -79.54375619856724],
 [43.74749158749895, -79.33756947688003],
 [43.740697669954706, -79.44032962162156],
 [43.6945660988415, -79.51026712781746],
 [43.65246368677126, -79.53587926545663],
 [43.635711435566385, -79.48905046518225],
 [43.74842364805419, -79.58388631627052],
 [43.78568258137402, -79.51622700378873],
 [43.73433005570774, -79.36840706341259],
 [43.64381445133091, -79.27929908070703],
 [43.75828055789372, -79.54381846492954],
 [43.75478419746817, -79.58797290630746],
 [43.70615650398258, -79.33756947688003],
 [43.71602057799732, -79.18219761679524],
 [43.734074523040306, -79.50946674633096],
 [43.6945660988415, -79.4999038620969],
 [43.65246368677126, -79.30255274968854],
 [43.76559970298727, -79.54382667725245],
 [43.69867074995042, -79.26935511138551],
 [43.7510638874773, -79.24550619389773],
 [43.68037261676654, -79.49953980073894],
 [43.745685602062295, -79.51556454961658],
 [43.740697669954706, -79.36155911405777],
 [43.71602057799732, -79.41996023053048],
 [43.64821662093329, -79.29951772861213],
 [43.648767485375764, -79.35430600497578],
 [43.75828055789372, -79.39959073147158],
 [43.63082059271745, -79.16658351263429],
 [43.74842364805419, -79.51915937793827],
 [43.667190904019584, -79.39733888521287],
 [43.71602057799732, -79.21386833210548],
 [43.734074523040306, -79.21101478396126],
 [43.74842364805419, -79.3317013801539],
 [43.68436705377785, -79.21101478396126],
 [43.72776873257389, -79.52371478047692],
 [43.71572673957389, -79.59319951449662],
 [43.81258677979005, -79.2184383521512],
 [43.71097859804333, -79.51379828897984],
 [43.73433005570774, -79.48826263641499],
 [43.69308173993112, -79.28588118400195],
 [43.66418666597709, -79.48028323958201],
 [43.71997277170111, -79.30883448367223],
 [43.65246368677126, -79.27929086838412],
 [43.7510638874773, -79.29902440651242],
 [43.734074523040306, -79.33319856329183],
 [43.725660858543726, -79.59929833200306],
 [43.75125719005796, -79.22064321310138],
 [43.64497034357408, -79.47997636216412],
 [43.758939400854615, -79.37580106623517],
 [43.80026208447253, -79.46268291500074],
 [43.614135696667226, -79.1848041853959],
 [43.76981041883904, -79.50360119900878],
 [43.73087499476403, -79.23034323106373],
 [43.81016454662078, -79.21056173151796],
 [43.743068810175245, -79.51622700378873],
 [43.70367706584088, -79.25559804742515],
 [43.76559970298727, -79.4999038620969],
 [43.78568258137402, -79.52602979129672],
 [43.734074523040306, -79.39959073147158],
 [43.648767485375764, -79.56788178345218],
 [43.725660858543726, -79.48006571076178],
 [43.71534056864263, -79.37588427964101],
 [43.69308173993112, -79.56775444199607],
 [43.75478419746817, -79.32583711850208],
 [43.81632384645415, -79.51915116561536],
 [43.69941577356218, -79.37615103610277],
 [43.655139536890935, -79.30915677850989],
 [43.70615650398258, -79.4802750272591],
 [43.76981041883904, -79.36146731870477],
 [43.651284458775734, -79.5490249881954],
 [43.69951788809228, -79.57255823316378],
 [43.77636565990628, -79.24842168774384],
 [43.73087499476403, -79.54237797793323],
 [43.740697669954706, -79.36905524586537],
 [43.655139536890935, -79.1456397340381],
 [43.740697669954706, -79.38351775112835],
 [43.740697669954706, -79.28892548613804],
 [0.0011478619216296322, -79.51025891549455],
 [43.63786452438908, -79.51025891549455],
 [43.75828055789372, -79.50369054760644],
 [43.69308173993112, -79.46268291500074],
 [43.71534056864263, -79.43275955112911],
 [43.75828055789372, -79.56275073379219],
 [43.73433005570774, -79.54920320699767],
 [43.71997277170111, -79.30883448367223],
 [43.68012088164389, -79.56678730057463],
 [43.66533329790672, -79.5101777792198],
 [43.69308173993112, -79.23524041900407],
 [43.70367706584088, -79.19002238113906],
 [43.81939624638169, -79.53360222186267],
 [43.69550528559802, -79.54375619856724],
 [43.722014292063605, -79.51410648497391],
 [43.79811013170179, -79.54236976561032],
 [43.74533692874831, -79.50274851216773],
 [43.71997277170111, -79.58388631627052],
 [43.81632384645415, -79.29903261883533],
 [43.64751717273875, -79.21481430269506],
 [43.67042500879449, -79.19965946104061],
 [43.66104730601065, -79.29902440651242],
 [43.71534056864263, -79.42712340140082],
 [43.73658897979441, -79.21216105558162],
 [43.71997277170111, -79.58432334986114],
 [43.80546788308469, -79.2483405514691],
 [43.739158792701225, -79.39958251914867],
 [43.740697669954706, -79.54236976561032],
 [43.74424733386183, -79.50945853400805],
 [43.70615650398258, -79.50360119900878],
 [43.75570597235526, -79.53587105313372],
 [43.70108873316162, -79.34269974431317],
 [43.66104730601065, -79.4205872513858],
 [43.73087499476403, -79.55780785250806],
 [43.656638833059205, -79.33170959247681],
 [43.725660858543726, -79.45743465027554],
 [43.67042500879449, -79.5101777792198],
 [43.68037261676654, -79.36839885108968],
 [43.65246368677126, -79.5678827512448],
 [43.71602057799732, -79.37579285391226],
 [43.67453552666002, -79.50945853400805],
 [43.68012088164389, -79.36904703354246],
 [43.763908919224626, -79.46999410754708],
 [43.7960259816398, -79.51886676339102],
 [43.80026208447253, -79.26935511138551],
 [43.69103939457374, -79.35909763183378],
 [43.734074523040306, -79.47000231986999],
 [43.65871338031702, -79.58797290630746],
 [43.758939400854615, -79.17890878911805],
 [43.70367706584088, -79.58808011380953],
 [43.75838042227229, -79.51379828897984],
 [43.75570597235526, -79.49121571542386],
 [43.70367706584088, -79.38801289990755],
 [43.77636565990628, -79.38352596345126],
 [43.648611479909796, -79.53440263679545],
 [43.76331790499851, -79.55430160026394],
 [43.70615650398258, -79.33757768920294],
 [43.65246368677126, -79.48028323958201],
 [43.76331790499851, -79.36839885108968],
 [43.73433005570774, -79.35909763183378],
 [43.758939400854615, -79.20289652419511],
 [43.69308173993112, -79.49953980073894],
 [43.739158792701225, -79.48966964418673],
 [43.620906217239174, -79.39725774893813],
 [43.75828055789372, -79.39958251914867],
 [43.70367706584088, -79.54375619856724],
 [43.72050909579592, -79.51915116561536],
 [43.65246368677126, -79.45394290601023],
 [43.82442054081987, -79.2453851655797],
 [43.65542652089258, -79.52602979129672],
 [43.758939400854615, -79.51555633729367],
 [43.758939400854615, -79.28023126816014],
 [43.71997277170111, -79.60242310568809],
 [43.825549331824966, -79.38351775112835],
 [43.80216594179551, -79.28127639691455],
 [43.758939400854615, -79.57051952983471],
 [43.640868061176384, -79.50275672449064],
 [43.73087499476403, -79.51915937793827],
 [43.71602057799732, -79.44753509356501],
 [43.7341035849487, -85.48841610843301],
 [43.767797590469755, -79.58389452859343],
 [0.0011478619216292992, -79.55780785250806],
 [43.73087499476403, -79.51622700378873],
 [43.78568258137402, -79.48825442409208],
 [43.758939400854615, -79.49141795672983],
 [43.65833850538834, -79.38800468758464],
 [43.71602057799732, -79.50909441406617],
 [43.72776873257389, -79.37615103610277],
 [43.67042500879449, -79.50945853400805],
 [43.69867074995042, -79.51622700378873],
 [43.601810574026, -79.51025891549455],
 [43.722014292063605, -79.37571171763751],
 [43.75478419746817, -79.44032962162156],
 [43.77636565990628, -79.21819946296704],
 [43.69941577356218, -79.51401713637625],
 [43.66418666597709, -79.55875964652292],
 [43.76331790499851, -79.19376361894247],
 [43.76917432834789, -79.49167539680933],
 [43.740697669954706, -79.26461110681079],
 [43.64533817161218, -79.50945853400805],
 [43.71536892318894, -79.45151732966066],
 [43.69951788809228, -79.38352596345126],
 [43.65833850538834, -79.60212146149134],
 [43.76331790499851, -79.54921141932059],
 [43.73087499476403, -79.31828428073798],
 [43.75828055789372, -79.42711518907791],
 [43.721707410991954, -79.4999038620969],
 [43.74494479786946, -79.49121571542386],
 [43.75828055789372, -79.51370894038219],
 [43.73640400953837, -79.33756947688003],
 [43.765449497078144, -79.28136668141089],
 [43.70367706584088, -79.47838637405768],
 [43.763908919224626, -79.53361043418558],
 [43.71602057799732, -79.58388631627052],
 [43.743068810175245, -79.23018641391073],
 [43.74834662896787, -79.39958251914867],
 [43.80546788308469, -79.28818188363223],
 [43.742070896578284, -79.53361043418558],
 [43.75478419746817, -79.25696843110131],
 [43.75828055789372, -79.50910262638908],
 [43.8002023747445, -79.44738138108745],
 [43.76917432834789, -79.46268291500074],
 [43.65636030712575, -79.26461110681079],
 [43.66533329790672, -79.13706640708975],
 [43.74350039436664, -79.21100657163835],
 [43.742070896578284, -79.48862379278715],
 [43.65542652089258, -79.26916048501622],
 [43.69550528559802, -79.58808011380953],
 [43.75478419746817, -79.51547520101893],
 [43.63786452438908, -79.51401713637625],
 [43.65833850538834, -79.4802750272591],
 [43.7510638874773, -79.58613752814368],
 [43.76331790499851, -79.23524863132698],
 [43.75125719005796, -79.22064321310138],
 [43.73640400953837, -79.28144781768563],
 [43.64751717273875, -79.44033783394447],
 [43.75478419746817, -79.34500745233841],
 [43.75877581626659, -79.2646193191337],
 [43.81016454662078, -79.20188147718987],
 [43.76740602967637, -79.59343214158969],
 [43.697103530007695, -79.21056994384087],
 [43.70934022407598, -79.2290854115269],
 [43.66104730601065, -79.53360222186267],
 [43.73433005570774, -79.58855507753788],
 [43.767797590469755, -79.51908889925305],
 [43.75478419746817, -79.29950951628922],
 [43.74842364805419, -85.48841610843301],
 [43.68436705377785, -79.41070796685388],
 [43.72776873257389, -79.35067855456298],
 [43.674825360039975, -79.49991207441981],
 [43.75828055789372, -79.22023451298979],
 [43.71534056864263, -79.1848041853959],
 [43.661034570826544, -79.22459559334044],
 [43.78568258137402, -79.51379828897984],
 [43.71602057799732, -79.54381846492954],
 [43.64004600273031, -79.50909441406617],
 [43.66418666597709, -79.34106840165036],
 [43.811944029026925, -79.41995201820757],
 [43.78080022221703, -79.44375013002131],
 [43.65673138146204, -79.5188585510681],
 [43.71997277170111, -79.59343214158969],
 [43.70108873316162, -79.51410648497391],
 [43.6945660988415, -79.59002429823803],
 [43.651284458775734, -79.44375834234422],
 [43.75478419746817, -79.45151732966066],
 [43.825549331824966, -79.21090307574615],
 [43.74842364805419, -79.25705777969897],
 [43.73087499476403, -79.35067034224006],
 [43.76559970298727, -79.56795322993001],
 [43.808897522148264, -79.38343661485361],
 [43.69574277760972, -79.42067659998345],
 [43.774160749985356, -79.54236976561032],
 [43.69711139971001, -79.50368233528353],
 [43.64010117947381, -79.57972366212385],
 [43.758939400854615, -79.46999410754708],
 [43.69574277760972, -79.39733888521287],
 [43.75570597235526, -79.38352596345126],
 [43.774160749985356, -79.4891398137799],
 [43.71602057799732, -79.19013798728992],
 [43.64004600273031, -79.5861253367497],
 [43.76331790499851, -79.58389452859343],
 [43.74749158749895, -79.51025891549455],
 [43.70108873316162, -79.22709406233564],
 [43.74350039436664, -79.54381846492954],
 [43.734074523040306, -79.22459559334044],
 [43.667190904019584, -79.21100657163835],
 [43.79709097653001, -79.21386011978257],
 [43.79594526598713, -79.37615924842568],
 [43.76331790499851, -79.35429779265287],
 [43.6945660988415, -79.27920973210938],
 [43.71534056864263, -79.57598024633782],
 [43.67042500879449, -79.57894863493982],
 [43.640868061176384, -79.51582457857837],
 [43.782319129240484, -79.45744286259846],
 [43.73433005570774, -79.40967140340125],
 [43.73745436006534, -79.51555633729367],
 [43.739158792701225, -79.26916048501622],
 [43.697103530007695, -79.51379828897984],
 [43.81889473038774, -79.51613765519107],
 [43.721707410991954, -79.19659230940877],
 [43.69308173993112, -79.47838637405768],
 [43.68037261676654, -79.514098272651],
 [43.68775169980894, -79.3026420982862],
 [43.71997277170111, -79.25594896941186],
 [43.67042500879449, -79.50909441406617],
 [0.001147861921628411, -79.47838637405768],
 [43.68436705377785, -79.49167539680933],
 [43.73745436006534, -79.23035144338664],
 [43.65673138146204, -79.39755122925783],
 [43.76331790499851, -79.47000231986999],
 [43.62713515937304, -79.46268291500074],
 [43.781858408583474, -79.35067855456298],
 [43.61730716335819, -79.38352596345126],
 [43.68037261676654, -79.33756947688003],
 [43.69574277760972, -79.54970642552209],
 [43.73745436006534, -79.44375013002131],
 [43.68775169980894, -79.52378525916214],
 [43.72050909579592, -79.5898684018149],
 [43.789742053409675, -79.23524863132698],
 [43.64497034357408, -79.43694066018702],
 [43.74814804625486, -79.5101777792198],
 [43.75125719005796, -79.48019389098435],
 [43.71536892318894, -79.49982272582216],
 [43.67042500879449, -79.44895073091273],
 [43.676003664483574, -79.3091649908328],
 [43.65833850538834, -79.37579285391226],
 [43.76331790499851, -79.58433156218405],
 [43.75125719005796, -79.3026420982862],
 [43.79375785047506, -79.29903261883533],
 [43.73087499476403, -79.50910262638908],
 [43.76559970298727, -79.31828428073798],
 [43.71602057799732, -79.54230749924801],
 [43.725660858543726, -79.46268291500074],
 [43.734074523040306, -79.36146731870477],
 [43.6373814256407, -79.5896659192106],
 [43.69951788809228, -79.23018641391073],
 [43.65833850538834, -79.57051952983471],
 [43.758939400854615, -79.54230749924801],
 [43.69103939457374, -79.44894251858982],
 [43.65871338031702, -79.55430981258685],
 [43.76559970298727, -79.5896659192106],
 [43.76331790499851, -79.45385355741257],
 [43.71097859804333, -79.44753509356501],
 [43.758939400854615, -79.3317013801539],
 [43.71534056864263, -79.44033783394447],
 [43.69941577356218, -79.44894251858982],
 [43.82969574358498, -79.36146731870477],
 [43.774160749985356, -79.44366899374657],
 [43.69867074995042, -79.54236976561032],
 [43.70108873316162, -79.51556454961658],
 [43.722014292063605, -79.28588118400195],
 [43.73433005570774, -79.28782696296196],
 [43.65246368677126, -79.56768396331086],
 [43.65542652089258, -79.39755122925783],
 [43.67042500879449, -79.50266737589298],
 [43.75877581626659, -79.2483405514691],
 [43.725660858543726, -79.44032962162156],
 [43.75570597235526, -79.45564129610591],
 [43.76331790499851, -79.38801289990755],
 [43.651284458775734, -79.29903261883533],
 [43.65246368677126, -79.32583711850208],
 [43.76740602967637, -79.15512700349825],
 [43.75478419746817, -79.48825442409208],
 [43.74842364805419, -79.51410648497391],
 [43.67042500879449, -79.36155911405777],
 [43.66710192148139, -79.36904703354246],
 [43.635711435566385, -79.3317013801539],
 [43.71997277170111, -79.49991207441981],

In [298]:
centroid_data_predicted

                     neighborhood   latitude  longitude
0                 Agincourt North  43.803298 -79.263350
1    Agincourt South-Malvern West  43.785955 -79.258910
2                       Alderwood  43.598280 -79.582069
3                           Annex  43.670023 -79.398264
4                        Avondale  43.755939 -79.402948
..                            ...        ...        ...
149                   Yonge-Doris  43.769810 -79.419960
150                Yonge-Eglinton  43.698671 -79.405105
151                Yonge-St.Clair  43.691201 -79.396334
152       York University Heights  43.761609 -79.489876
153            Yorkdale-Glen Park  43.718621 -79.452414

[154 rows x 3 columns]

In [299]:
# Assuming you've chosen 'Neighborhood A' to park the police car, update the danger level
parked_neighborhood = 'North Toronto'
predicted_data_.loc[predicted_data_['neighborhood'] == parked_neighborhood, 'danger'] = 'low'

In [300]:
crime_counts = predicted_data_['neighborhood'].value_counts()

# Function to assign danger level based on the number of crimes
def assign_danger_level(crime_count):
    if crime_count > 15:
        return 'high'
    elif crime_count > 7:
        return 'medium'
    else:
        return 'low'

# Create a dictionary to map neighborhood to danger level
neighborhood_danger = {neighborhood: assign_danger_level(crime_count) for neighborhood, crime_count in crime_counts.items()}

# Create the 'danger' column in the predicted_data DataFrame
predicted_data_['danger'] = predicted_data_['neighborhood'].map(neighborhood_danger)

predicted_data_

       latitude  longitude                   neighborhood  danger
0     43.674536 -79.397339                          Annex     low
1     43.751257 -79.440248                   Clanton Park    high
2     43.701089 -79.553772  Kingsview Village-The Westway    high
3     43.751257 -79.509094         Glenfield-Jane Heights    high
4     43.697111 -79.509094                         Weston    high
...         ...        ...                            ...     ...
1708  43.730875 -79.178968                      Guildwood  medium
1709  43.715369 -79.399501                  North Toronto     low
1710  43.652464 -79.440248                 Dufferin Grove     low
1711  43.687752 -79.477667        Beechborough-Greenbrook  medium
1712  43.698671 -79.399583                 Yonge-Eglinton     low

[1713 rows x 4 columns]

In [301]:
predicted_data_['neighborhood'].value_counts()

neighborhood
Black Creek                78
Birchcliffe-Cliffside      73
Humber Summit              57
Glenfield-Jane Heights     54
The Beaches                51
                           ..
Yonge-Doris                 1
North Riverdale             1
Palmerston-Little Italy     1
Downtown Yonge East         1
Mimico-Queensway            1
Name: count, Length: 154, dtype: int64

In [302]:
crime_counts

neighborhood
Black Creek                78
Birchcliffe-Cliffside      73
Humber Summit              57
Glenfield-Jane Heights     54
The Beaches                51
                           ..
Yonge-Doris                 1
North Riverdale             1
Palmerston-Little Italy     1
Downtown Yonge East         1
Mimico-Queensway            1
Name: count, Length: 154, dtype: int64

In [303]:
centroid_danger = {neighborhood: assign_danger_level(crime_count) for neighborhood, crime_count in crime_counts.items()}

# Create the 'danger' column in the centroid DataFrame
centroid_data_predicted['danger'] = predicted_data_['neighborhood'].map(neighborhood_danger)

In [304]:
centroid_data_predicted

                     neighborhood   latitude  longitude  danger
0                 Agincourt North  43.803298 -79.263350     low
1    Agincourt South-Malvern West  43.785955 -79.258910    high
2                       Alderwood  43.598280 -79.582069    high
3                           Annex  43.670023 -79.398264    high
4                        Avondale  43.755939 -79.402948    high
..                            ...        ...        ...     ...
149                   Yonge-Doris  43.769810 -79.419960  medium
150                Yonge-Eglinton  43.698671 -79.405105    high
151                Yonge-St.Clair  43.691201 -79.396334    high
152       York University Heights  43.761609 -79.489876     low
153            Yorkdale-Glen Park  43.718621 -79.452414    high

[154 rows x 4 columns]

In [305]:
danger=['high','medium','low']

In [306]:
# Convert predicted crime data to list of points for the HeatMap
predicted_crime_points = predicted_data_[['latitude', 'longitude']].values.tolist()

# Function to change HeatMap color based on danger level
def get_heatmap_color(danger):
    if danger == 'high':
        return 'red'
    elif danger == 'low':
        return 'green'
    else:
        return 'blue' # Default to red for unknown danger level

# Create HeatMap for predicted crime locations with initial color based on danger variable
HeatMap(predicted_crime_points, radius=15, gradient={0.2: 'blue', 0.5: get_heatmap_color(danger)}).add_to(toronto_map)

# Add blue markers for the centroids (police car parking locations) of each predicted neighborhood
for _, row in centroid_data_predicted.iterrows():
    if row['danger'] == 'high':
            color = 'red'
    elif row['danger'] == 'medium':
            color = 'orange'
    else:  # low danger
        color = 'green'
    folium.Marker(
        location=[row['latitude'], row['longitude']],
        popup=f'{row["neighborhood"]} - Police Car Parking',
        icon=folium.Icon(color=color, icon='car')
    ).add_to(toronto_map)

# Display the map
toronto_map.save('predictions_final_1.html')

In [307]:
police_stations = pd.read_csv('/Users/rupaliwadhawan/Downloads/TPS_Facilities.csv')

In [308]:
police_stations.head()

       FACILITY             ORGANIZATION   LATITUDE  LONGITUDE
0   11 Division  Toronto Police Services  43.671071 -79.460825
1  12 Division   Toronto Police Services  43.694579 -79.486876
2   13 Division  Toronto Police Services  43.698327 -79.436683
3   14 Division  Toronto Police Services  43.651297 -79.425978
4   22 Division  Toronto Police Services  43.643107 -79.529185

In [309]:
for _, row in police_stations.iterrows():
    folium.Marker(
        location=[row['LATITUDE'], row['LONGITUDE']],
        popup=f'{row["FACILITY"]} - Police Station',
        icon=folium.Icon(color='black', icon_color='white', icon='home')
    ).add_to(toronto_map)
    toronto_map.save('predictions_final_1.html')

In [310]:
police_stations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   FACILITY      17 non-null     object
 1   ORGANIZATION  17 non-null     object
 2   LATITUDE      17 non-null     float64
 3   LONGITUDE     17 non-null     float64
dtypes: float64(2), object(2)
memory usage: 676.0+ bytes

In [311]:
def update_heatmap(m, lat, lon, danger_level):
    # Remove previous heatmap layer if it exists
    if hasattr(m, '_children') and len(m._children) > 0:
        for key in list(m._children.keys()):
            if 'heatmap' in key:
                m._children.pop(key)

  
    toronto_map.add_child(heat_map)

In [312]:
centroid_data_predicted

                     neighborhood   latitude  longitude  danger
0                 Agincourt North  43.803298 -79.263350     low
1    Agincourt South-Malvern West  43.785955 -79.258910    high
2                       Alderwood  43.598280 -79.582069    high
3                           Annex  43.670023 -79.398264    high
4                        Avondale  43.755939 -79.402948    high
..                            ...        ...        ...     ...
149                   Yonge-Doris  43.769810 -79.419960  medium
150                Yonge-Eglinton  43.698671 -79.405105    high
151                Yonge-St.Clair  43.691201 -79.396334    high
152       York University Heights  43.761609 -79.489876     low
153            Yorkdale-Glen Park  43.718621 -79.452414    high

[154 rows x 4 columns]

In [313]:
centroid_data_predicted

                     neighborhood   latitude  longitude  danger
0                 Agincourt North  43.803298 -79.263350     low
1    Agincourt South-Malvern West  43.785955 -79.258910    high
2                       Alderwood  43.598280 -79.582069    high
3                           Annex  43.670023 -79.398264    high
4                        Avondale  43.755939 -79.402948    high
..                            ...        ...        ...     ...
149                   Yonge-Doris  43.769810 -79.419960  medium
150                Yonge-Eglinton  43.698671 -79.405105    high
151                Yonge-St.Clair  43.691201 -79.396334    high
152       York University Heights  43.761609 -79.489876     low
153            Yorkdale-Glen Park  43.718621 -79.452414    high

[154 rows x 4 columns]

In [314]:
predicted_crime_points = pd.DataFrame(predicted_crime_points)

In [315]:
predicted_crime_points

              0          1
0     43.674536 -79.397339
1     43.751257 -79.440248
2     43.701089 -79.553772
3     43.751257 -79.509094
4     43.697111 -79.509094
...         ...        ...
1708  43.730875 -79.178968
1709  43.715369 -79.399501
1710  43.652464 -79.440248
1711  43.687752 -79.477667
1712  43.698671 -79.399583

[1713 rows x 2 columns]

In [316]:
new_column_names = {
    0: 'latitude',
    1: 'longitude'
}
predicted_crime_points.rename(columns=new_column_names, inplace=True)

In [317]:
predicted_crime_points.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1713 entries, 0 to 1712
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   latitude   1713 non-null   float64
 1   longitude  1713 non-null   float64
dtypes: float64(2)
memory usage: 26.9 KB

In [318]:
police_stations

        FACILITY             ORGANIZATION   LATITUDE  LONGITUDE
0    11 Division  Toronto Police Services  43.671071 -79.460825
1   12 Division   Toronto Police Services  43.694579 -79.486876
2    13 Division  Toronto Police Services  43.698327 -79.436683
3    14 Division  Toronto Police Services  43.651297 -79.425978
4    22 Division  Toronto Police Services  43.643107 -79.529185
5    23 Division  Toronto Police Services  43.743866 -79.583522
6    31 Division  Toronto Police Services  43.756750 -79.527474
7    32 Division  Toronto Police Services  43.771720 -79.415084
8    33 Division  Toronto Police Services  43.751082 -79.350069
9    41 Division  Toronto Police Services  43.730806 -79.277110
10   42 Division  Toronto Police Services  43.789374 -79.240012
11   43 Division  Toronto Police Services  43.770827 -79.174053
12   51 Division  Toronto Police Services  43.651951 -79.362142
13   52 Division  Toronto Police Services  43.654209 -79.389718
14   53 Division  Toronto Police Services  43.706060 -79.400662
15   54 Division  Toronto Police Services  43.714608 -79.309483
16   55 Division  Toronto Police Services  43.669180 -79.317299

In [319]:
def find_nearest_station(row):
    min_distance = float('inf')
    nearest_station = None

    for index, station in police_stations.iterrows():
        crime_point = (row['latitude'], row['longitude'])
        station_point = (station['LATITUDE'], station['LONGITUDE'])
        distance = geodesic(crime_point, station_point).kilometers

        if distance < min_distance:
            min_distance = distance
            nearest_station = station
    
    return nearest_station['FACILITY'], min_distance, nearest_station['LATITUDE'], nearest_station['LONGITUDE']

predicted_crime_points[['nearest_station', 'distance', 'PS_latitude', 'PS_longitude']] = predicted_crime_points.apply(
    lambda row: pd.Series(find_nearest_station(row)), axis=1
)

In [320]:
predicted_crime_points['response time'] = predicted_crime_points['distance']/100

In [321]:
predicted_crime_points['response time'] = predicted_crime_points['response time']*60

In [322]:
predicted_crime_points

,latitude,longitude,nearest_station,distance,PS_latitude,PS_longitude,response time
0,43.674536,-79.397339,52 Division,2.340555,43.654209,-79.389718,1.404333
1,43.751257,-79.440248,32 Division,3.045540,43.771720,-79.415084,1.827324
2,43.701089,-79.553772,23 Division,5.323191,43.743866,-79.583522,3.193914
3,43.751257,-79.509094,31 Division,1.601149,43.756750,-79.527474,0.960690
4,43.697111,-79.509094,12 Division,1.813110,43.694579,-79.486876,1.087866
...,...,...,...,...,...,...,...
1708,43.730875,-79.178968,43 Division,4.456543,43.770827,-79.174053,2.673926
1709,43.715369,-79.399501,53 Division,1.038501,43.706060,-79.400662,0.623101
1710,43.652464,-79.440248,14 Division,1.158532,43.651297,-79.425978,0.695119
1711,43.687752,-79.477667,12 Division,1.061426,43.694579,-79.486876,0.636856
1712,43.698671,-79.399583,53 Division,0.825591,43.706060,-79.400662,0.495354

In [323]:
centroid_data_predicted

                     neighborhood   latitude  longitude  danger
0                 Agincourt North  43.803298 -79.263350     low
1    Agincourt South-Malvern West  43.785955 -79.258910    high
2                       Alderwood  43.598280 -79.582069    high
3                           Annex  43.670023 -79.398264    high
4                        Avondale  43.755939 -79.402948    high
..                            ...        ...        ...     ...
149                   Yonge-Doris  43.769810 -79.419960  medium
150                Yonge-Eglinton  43.698671 -79.405105    high
151                Yonge-St.Clair  43.691201 -79.396334    high
152       York University Heights  43.761609 -79.489876     low
153            Yorkdale-Glen Park  43.718621 -79.452414    high

[154 rows x 4 columns]

In [324]:

centroid_data_predicted[['nearest_station', 'distance', 'PS_latitude', 'PS_longitude']] = centroid_data_predicted.apply(
    lambda row: pd.Series(find_nearest_station(row)), axis=1
)

In [325]:
centroid_data_predicted

,neighborhood,latitude,longitude,danger,nearest_station,distance,PS_latitude,PS_longitude
0,Agincourt North,43.803298,-79.263350,low,42 Division,2.433326,43.789374,-79.240012
1,Agincourt South-Malvern West,43.785955,-79.258910,high,42 Division,1.567864,43.789374,-79.240012
2,Alderwood,43.598280,-79.582069,high,22 Division,6.559446,43.643107,-79.529185
3,Annex,43.670023,-79.398264,high,52 Division,1.887467,43.654209,-79.389718
4,Avondale,43.755939,-79.402948,high,32 Division,2.007235,43.771720,-79.415084
...,...,...,...,...,...,...,...,...
149,Yonge-Doris,43.769810,-79.419960,medium,32 Division,0.446252,43.771720,-79.415084
150,Yonge-Eglinton,43.698671,-79.405105,high,53 Division,0.895702,43.706060,-79.400662
151,Yonge-St.Clair,43.691201,-79.396334,high,53 Division,1.687425,43.706060,-79.400662
152,York University Heights,43.761609,-79.489876,low,31 Division,3.075548,43.756750,-79.527474
153,Yorkdale-Glen Park,43.718621,-79.452414,high,13 Division,2.586819,43.698327,-79.436683

In [326]:
predicted_crime_points.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1713 entries, 0 to 1712
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   latitude         1713 non-null   float64
 1   longitude        1713 non-null   float64
 2   nearest_station  1713 non-null   object
 3   distance         1713 non-null   float64
 4   PS_latitude      1713 non-null   float64
 5   PS_longitude     1713 non-null   float64
 6   response time    1713 non-null   float64
dtypes: float64(6), object(1)
memory usage: 93.8+ KB

In [327]:
predicted_crime_points

,latitude,longitude,nearest_station,distance,PS_latitude,PS_longitude,response time
0,43.674536,-79.397339,52 Division,2.340555,43.654209,-79.389718,1.404333
1,43.751257,-79.440248,32 Division,3.045540,43.771720,-79.415084,1.827324
2,43.701089,-79.553772,23 Division,5.323191,43.743866,-79.583522,3.193914
3,43.751257,-79.509094,31 Division,1.601149,43.756750,-79.527474,0.960690
4,43.697111,-79.509094,12 Division,1.813110,43.694579,-79.486876,1.087866
...,...,...,...,...,...,...,...
1708,43.730875,-79.178968,43 Division,4.456543,43.770827,-79.174053,2.673926
1709,43.715369,-79.399501,53 Division,1.038501,43.706060,-79.400662,0.623101
1710,43.652464,-79.440248,14 Division,1.158532,43.651297,-79.425978,0.695119
1711,43.687752,-79.477667,12 Division,1.061426,43.694579,-79.486876,0.636856
1712,43.698671,-79.399583,53 Division,0.825591,43.706060,-79.400662,0.495354

In [328]:
centroid_data_predicted

,neighborhood,latitude,longitude,danger,nearest_station,distance,PS_latitude,PS_longitude
0,Agincourt North,43.803298,-79.263350,low,42 Division,2.433326,43.789374,-79.240012
1,Agincourt South-Malvern West,43.785955,-79.258910,high,42 Division,1.567864,43.789374,-79.240012
2,Alderwood,43.598280,-79.582069,high,22 Division,6.559446,43.643107,-79.529185
3,Annex,43.670023,-79.398264,high,52 Division,1.887467,43.654209,-79.389718
4,Avondale,43.755939,-79.402948,high,32 Division,2.007235,43.771720,-79.415084
...,...,...,...,...,...,...,...,...
149,Yonge-Doris,43.769810,-79.419960,medium,32 Division,0.446252,43.771720,-79.415084
150,Yonge-Eglinton,43.698671,-79.405105,high,53 Division,0.895702,43.706060,-79.400662
151,Yonge-St.Clair,43.691201,-79.396334,high,53 Division,1.687425,43.706060,-79.400662
152,York University Heights,43.761609,-79.489876,low,31 Division,3.075548,43.756750,-79.527474
153,Yorkdale-Glen Park,43.718621,-79.452414,high,13 Division,2.586819,43.698327,-79.436683

In [329]:
predicted_crime_points

,latitude,longitude,nearest_station,distance,PS_latitude,PS_longitude,response time
0,43.674536,-79.397339,52 Division,2.340555,43.654209,-79.389718,1.404333
1,43.751257,-79.440248,32 Division,3.045540,43.771720,-79.415084,1.827324
2,43.701089,-79.553772,23 Division,5.323191,43.743866,-79.583522,3.193914
3,43.751257,-79.509094,31 Division,1.601149,43.756750,-79.527474,0.960690
4,43.697111,-79.509094,12 Division,1.813110,43.694579,-79.486876,1.087866
...,...,...,...,...,...,...,...
1708,43.730875,-79.178968,43 Division,4.456543,43.770827,-79.174053,2.673926
1709,43.715369,-79.399501,53 Division,1.038501,43.706060,-79.400662,0.623101
1710,43.652464,-79.440248,14 Division,1.158532,43.651297,-79.425978,0.695119
1711,43.687752,-79.477667,12 Division,1.061426,43.694579,-79.486876,0.636856
1712,43.698671,-79.399583,53 Division,0.825591,43.706060,-79.400662,0.495354

In [330]:
import requests
import json

def get_driving_distance(row):
    lat1, lon1 = row['PS_latitude'], row['PS_longitude']
    lat2, lon2 = row['latitude'], row['longitude']

    origin = f"{lat1},{lon1}"
    destination = f"{lat2},{lon2}"

    # Your API key goes here (replace 'YOUR_API_KEY' with your actual key)
    # You can obtain a key from the Google Cloud Console (https://cloud.google.com/console)
    api_key = 'AIzaSyC_EKpVyr5EIWjGfHz7hp17-OLsq8DfKR4'
    
    base_url = "https://maps.googleapis.com/maps/api/distancematrix/json?units=metric"

    request_url = f"{base_url}&origins={origin}&destinations={destination}&key={api_key}"

    response = requests.get(request_url)
    data = json.loads(response.text)

    if not data['rows'][0]['elements'][0]['status'] == 'OK':
        return None
    else:
        distance = data['rows'][0]['elements'][0]['distance']['value']  # The numeric distance in meters
        return distance / 1000  # Convert meters to kilometers

# Apply the function to each row in the dataframe
centroid_data_predicted['distance'] = centroid_data_predicted.apply(get_driving_distance, axis=1)

In [331]:
columns_to_subset = ['latitude', 'longitude']
result = centroid_data_predicted[columns_to_subset]

In [332]:
cdp = centroid_data_predicted.groupby('nearest_station')[columns_to_subset].mean().reset_index()

In [333]:
cdp

   nearest_station   latitude  longitude
0      11 Division  43.661718 -79.463606
1     12 Division   43.692380 -79.504675
2      13 Division  43.700962 -79.440250
3      14 Division  43.646283 -79.425515
4      22 Division  40.725617 -79.534312
5      23 Division  43.736576 -79.946942
6      31 Division  43.746279 -79.513077
7      32 Division  43.777690 -79.421278
8      33 Division  43.767600 -79.344694
9      41 Division  43.736641 -79.258455
10     42 Division  43.792538 -79.244260
11     43 Division  43.751650 -79.169468
12     51 Division  43.661345 -79.358963
13     52 Division  43.656166 -79.389465
14     53 Division  43.705261 -79.396845
15     54 Division  43.704763 -79.315430
16     55 Division  43.677309 -79.313588

In [334]:
centroid_data_predicted

,neighborhood,latitude,longitude,danger,nearest_station,distance,PS_latitude,PS_longitude
0,Agincourt North,43.803298,-79.263350,low,42 Division,3.983,43.789374,-79.240012
1,Agincourt South-Malvern West,43.785955,-79.258910,high,42 Division,2.293,43.789374,-79.240012
2,Alderwood,43.598280,-79.582069,high,22 Division,8.240,43.643107,-79.529185
3,Annex,43.670023,-79.398264,high,52 Division,2.430,43.654209,-79.389718
4,Avondale,43.755939,-79.402948,high,32 Division,2.985,43.771720,-79.415084
...,...,...,...,...,...,...,...,...
149,Yonge-Doris,43.769810,-79.419960,medium,32 Division,0.961,43.771720,-79.415084
150,Yonge-Eglinton,43.698671,-79.405105,high,53 Division,1.262,43.706060,-79.400662
151,Yonge-St.Clair,43.691201,-79.396334,high,53 Division,2.157,43.706060,-79.400662
152,York University Heights,43.761609,-79.489876,low,31 Division,3.419,43.756750,-79.527474
153,Yorkdale-Glen Park,43.718621,-79.452414,high,13 Division,3.314,43.698327,-79.436683

In [335]:
cdp = pd.DataFrame()

In [336]:
cdp['nearest_station']=centroid_data_predicted['nearest_station']

In [337]:
cdp['danger'] = centroid_data_predicted['danger']

In [341]:
def assign_danger_level_division(crime_count):
    if crime_count > 100:
        return 'high'
    elif crime_count > 50:
        return 'medium'
    else:
        return 'low'

In [342]:
crime_counts = predicted_crime_points['nearest_station'].value_counts()
cdp = {nearest_station: assign_danger_level_division(latitude) for nearest_station, latitude in crime_counts.items()}

In [343]:
cdp

{'31 Division': 'high',
 '12 Division ': 'high',
 '22 Division': 'high',
 '23 Division': 'high',
 '32 Division': 'high',
 '41 Division': 'high',
 '33 Division': 'high',
 '55 Division': 'high',
 '53 Division': 'medium',
 '42 Division': 'medium',
 '13 Division': 'medium',
 '54 Division': 'medium',
 '43 Division': 'low',
 '14 Division': 'low',
 '51 Division': 'low',
 '52 Division': 'low',
 '11 Division': 'low'}

In [344]:
cdp_division = predicted_crime_points.groupby('nearest_station')[columns_to_subset].mean().reset_index()

In [345]:
cdp_division

   nearest_station   latitude  longitude
0      11 Division  43.662590 -79.468442
1     12 Division   43.699495 -79.506760
2      13 Division  43.710249 -79.443218
3      14 Division  43.641864 -79.437650
4      22 Division  39.286694 -79.530820
5      23 Division  43.731646 -80.207582
6      31 Division  43.763556 -79.516319
7      32 Division  43.774743 -79.424715
8      33 Division  43.754792 -79.346517
9      41 Division  43.725143 -79.249041
10     42 Division  43.786261 -79.241401
11     43 Division  43.737365 -79.188197
12     51 Division  43.653477 -79.356870
13     52 Division  43.654581 -79.390479
14     53 Division  43.709020 -79.387317
15     54 Division  43.708989 -79.315194
16     55 Division  43.658488 -79.269651

In [346]:
cdp_division['danger'] = cdp_division['nearest_station'].map(cdp)

In [347]:
cdp_division

   nearest_station   latitude  longitude  danger
0      11 Division  43.662590 -79.468442     low
1     12 Division   43.699495 -79.506760    high
2      13 Division  43.710249 -79.443218  medium
3      14 Division  43.641864 -79.437650     low
4      22 Division  39.286694 -79.530820    high
5      23 Division  43.731646 -80.207582    high
6      31 Division  43.763556 -79.516319    high
7      32 Division  43.774743 -79.424715    high
8      33 Division  43.754792 -79.346517    high
9      41 Division  43.725143 -79.249041    high
10     42 Division  43.786261 -79.241401  medium
11     43 Division  43.737365 -79.188197     low
12     51 Division  43.653477 -79.356870     low
13     52 Division  43.654581 -79.390479     low
14     53 Division  43.709020 -79.387317  medium
15     54 Division  43.708989 -79.315194  medium
16     55 Division  43.658488 -79.269651    high

In [348]:

cdp_division[['nearest_station', 'distance', 'PS_latitude', 'PS_longitude']] = cdp_division.apply(
    lambda row: pd.Series(find_nearest_station(row)), axis=1
)

In [349]:
cdp_division

,nearest_station,latitude,longitude,danger,distance,PS_latitude,PS_longitude
0,11 Division,43.662590,-79.468442,low,1.124815,43.671071,-79.460825
1,12 Division,43.699495,-79.506760,high,1.693455,43.694579,-79.486876
2,13 Division,43.710249,-79.443218,medium,1.425498,43.698327,-79.436683
3,14 Division,43.641864,-79.437650,low,1.409001,43.651297,-79.425978
4,22 Division,39.286694,-79.530820,high,483.836200,43.643107,-79.529185
5,23 Division,43.731646,-80.207582,high,50.291688,43.743866,-79.583522
6,31 Division,43.763556,-79.516319,high,1.174178,43.756750,-79.527474
7,32 Division,43.774743,-79.424715,high,0.845091,43.771720,-79.415084
8,33 Division,43.754792,-79.346517,high,0.501733,43.751082,-79.350069
9,41 Division,43.725143,-79.249041,high,2.347513,43.730806,-79.277110
10,42 Division,43.786261,-79.241401,medium,0.363500,43.789374,-79.240012
11,43 Division,43.737365,-79.188197,low,3.888443,43.770827,-79.174053
12,51 Division,43.653477,-79.356870,low,0.457869,43.651951,-79.362142
13,52 Division,43.654581,-79.390479,low,0.074057,43.654209,-79.389718
14,53 Division,43.709020,-79.387317,medium,1.124727,43.706060,-79.400662
15,54 Division,43.708989,-79.315194,medium,0.775687,43.714608,-79.309483
16,55 Division,43.658488,-79.269651,high,4.022602,43.669180,-79.317299

In [350]:
cdp_division['distance'] = cdp_division.apply(get_driving_distance, axis=1)

In [351]:
cdp_division

,nearest_station,latitude,longitude,danger,distance,PS_latitude,PS_longitude
0,11 Division,43.662590,-79.468442,low,1.637,43.671071,-79.460825
1,12 Division,43.699495,-79.506760,high,2.061,43.694579,-79.486876
2,13 Division,43.710249,-79.443218,medium,3.232,43.698327,-79.436683
3,14 Division,43.641864,-79.437650,low,2.735,43.651297,-79.425978
4,22 Division,39.286694,-79.530820,high,700.446,43.643107,-79.529185
5,23 Division,43.731646,-80.207582,high,75.601,43.743866,-79.583522
6,31 Division,43.763556,-79.516319,high,1.809,43.756750,-79.527474
7,32 Division,43.774743,-79.424715,high,1.452,43.771720,-79.415084
8,33 Division,43.754792,-79.346517,high,0.719,43.751082,-79.350069
9,41 Division,43.725143,-79.249041,high,4.060,43.730806,-79.277110
10,42 Division,43.786261,-79.241401,medium,0.444,43.789374,-79.240012
11,43 Division,43.737365,-79.188197,low,5.236,43.770827,-79.174053
12,51 Division,43.653477,-79.356870,low,0.743,43.651951,-79.362142
13,52 Division,43.654581,-79.390479,low,0.112,43.654209,-79.389718
14,53 Division,43.709020,-79.387317,medium,1.122,43.706060,-79.400662
15,54 Division,43.708989,-79.315194,medium,1.207,43.714608,-79.309483
16,55 Division,43.658488,-79.269651,high,3.806,43.669180,-79.317299

In [352]:
cdp_division['response time'] = cdp_division['distance']/70

In [353]:
cdp_division['response time'] = cdp_division['response time'] + 5

In [354]:
cdp_division

,nearest_station,latitude,longitude,danger,distance,PS_latitude,PS_longitude,response time
0,11 Division,43.662590,-79.468442,low,1.637,43.671071,-79.460825,5.023386
1,12 Division,43.699495,-79.506760,high,2.061,43.694579,-79.486876,5.029443
2,13 Division,43.710249,-79.443218,medium,3.232,43.698327,-79.436683,5.046171
3,14 Division,43.641864,-79.437650,low,2.735,43.651297,-79.425978,5.039071
4,22 Division,39.286694,-79.530820,high,700.446,43.643107,-79.529185,15.006371
5,23 Division,43.731646,-80.207582,high,75.601,43.743866,-79.583522,6.080014
6,31 Division,43.763556,-79.516319,high,1.809,43.756750,-79.527474,5.025843
7,32 Division,43.774743,-79.424715,high,1.452,43.771720,-79.415084,5.020743
8,33 Division,43.754792,-79.346517,high,0.719,43.751082,-79.350069,5.010271
9,41 Division,43.725143,-79.249041,high,4.060,43.730806,-79.277110,5.058000
10,42 Division,43.786261,-79.241401,medium,0.444,43.789374,-79.240012,5.006343
11,43 Division,43.737365,-79.188197,low,5.236,43.770827,-79.174053,5.074800
12,51 Division,43.653477,-79.356870,low,0.743,43.651951,-79.362142,5.010614
13,52 Division,43.654581,-79.390479,low,0.112,43.654209,-79.389718,5.001600
14,53 Division,43.709020,-79.387317,medium,1.122,43.706060,-79.400662,5.016029
15,54 Division,43.708989,-79.315194,medium,1.207,43.714608,-79.309483,5.017243
16,55 Division,43.658488,-79.269651,high,3.806,43.669180,-79.317299,5.054371

In [355]:
cdp_division.rename(columns={'nearest_station': 'division'}, inplace=True)

In [356]:
# If you want to display specific columns, you can select those
df_subset = cdp_division[['division', 'danger', 'response time']]

# Convert the DataFrame to HTML
html = df_subset.to_html()

with open('output.html', 'w') as f:
    f.write(html)

In [ ]:
cdp_division.to_csv('new_response_times_per_divsion.csv')

In [ ]:
centroid_danger = {neighborhood: assign_danger_level(crime_count) for neighborhood, crime_count in crime_counts.items()}