### P2 - Weather Data (APIs) - Part 1

GROUP #14 DETAILS<br>
<br>
 1	Amita Singh                 219485309	amita15@schulich.yorku.ca<br>
 2	Saima Rafi	                216562753	saima20@schulich.yorku.ca<br>
 3	Sreekanth Potlabathini 	    220088993	sriku241@schulich.yorku.ca<br>
 4	Abdul Ghafar Qasemi	        220067401	agqasemi@schulich.yorku.ca<br>

--------------------------------------------------------------------------------------------------------------

For this project you will work on three data pipelines<br>
<br>
A common problem in Logistics is the optimization of delivery routes using distance and weather data. For this assignment you will need to identify an API that can provide:<br>
<br>
Historical Weather data<br>( no free version found)
### Current Weather<br>
### Weather Forecasts<br> 
file contains only highlighted portion<br> 
Weather Alerts (you will need to work with the data available here: https://dd.weather.gc.ca/Links to an external site.)<br> 
Most APIs from big providers provide (limited) free requests that should allow you to pull a sample dataset without having to pay for a subscription<br>
<br>
Create an uploads schema in your own database within our Postgres server (do not use the mban_db database)<br>
Prepare a data ingestion pipeline for each data source. The data ingestion pipeline must be designed to be scheduled (i.e. it should take the current date as an input so it can run every day and update your tables)<br>
Each data ingestion pipeline must include data cleaning and feature engineering<br>
Create new tables in the uploads schema to capture the weather data.<br>

--------------------------------------------------------------------------------------------------------------

# For Weather Forcast

In [38]:
import pandas as pd
import numpy as np
import sqlalchemy as sa
import requests
import sys
import datetime
from datetime import datetime
import json

In [39]:
lat = '43.8143'
long = '-79.4240'
limit = 1500
offset = 0
appid = '69b9eac66ab7d3985df833d77d77bc86'

In [40]:

api_url_2 = 'https://api.openweathermap.org/data/2.5/forecast?lat={}&lon={}&limit={}&offset={}&appid={}'.format(lat,long, limit, offset, appid)
print(api_url_2)

https://api.openweathermap.org/data/2.5/forecast?lat=43.8143&lon=-79.4240&limit=1500&offset=0&appid=69b9eac66ab7d3985df833d77d77bc86

In [41]:
api_response_2 = requests.get(api_url_2)
api_response_2

In [42]:
data_f = api_response_2.json()
data_f

{'cod': '200',
 'message': 0,
 'cnt': 40,
 'list': [{'dt': 1691971200,
   'main': {'temp': 295.66,
    'feels_like': 295.64,
    'temp_min': 292.45,
    'temp_max': 295.66,
    'pressure': 1014,
    'sea_level': 1014,
    'grnd_level': 995,
    'humidity': 64,
    'temp_kf': 3.21},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}],
   'clouds': {'all': 99},
   'wind': {'speed': 4.26, 'deg': 333, 'gust': 8.01},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2023-08-14 00:00:00'},
  {'dt': 1691982000,
   'main': {'temp': 292.32,
    'feels_like': 292.15,
    'temp_min': 289.84,
    'temp_max': 292.32,
    'pressure': 1015,
    'sea_level': 1015,
    'grnd_level': 996,
    'humidity': 71,
    'temp_kf': 2.48},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04n'}],
   'clouds': {'all': 91},
   'wind': {'speed': 3.26, 'deg': 321, 'gust': 8.53},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2023-08-14 03:00:00'},
  {'dt': 1691992800,
   'main': {'temp': 288.46,
    'feels_like': 288.14,
    'temp_min': 288.46,
    'temp_max': 288.46,
    'pressure': 1017,
    'sea_level': 1017,
    'grnd_level': 996,
    'humidity': 80,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04n'}],
   'clouds': {'all': 92},
   'wind': {'speed': 2.17, 'deg': 324, 'gust': 4.88},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2023-08-14 06:00:00'},
  {'dt': 1692003600,
   'main': {'temp': 287.54,
    'feels_like': 287.23,
    'temp_min': 287.54,
    'temp_max': 287.54,
    'pressure': 1016,
    'sea_level': 1016,
    'grnd_level': 996,
    'humidity': 84,
    'temp_kf': 0},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04n'}],
   'clouds': {'all': 71},
   'wind': {'speed': 1.73, 'deg': 340, 'gust': 3.24},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2023-08-14 09:00:00'},
  {'dt': 1692014400,
   'main': {'temp': 289.22,
    'feels_like': 288.87,
    'temp_min': 289.22,
    'temp_max': 289.22,
    'pressure': 1018,
    'sea_level': 1018,
    'grnd_level': 997,
    'humidity': 76,
    'temp_kf': 0},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04d'}],
   'clouds': {'all': 68},
   'wind': {'speed': 1.63, 'deg': 0, 'gust': 2.49},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2023-08-14 12:00:00'},
  {'dt': 1692025200,
   'main': {'temp': 294.19,
    'feels_like': 293.73,
    'temp_min': 294.19,
    'temp_max': 294.19,
    'pressure': 1017,
    'sea_level': 1017,
    'grnd_level': 997,
    'humidity': 53,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}],
   'clouds': {'all': 88},
   'wind': {'speed': 1.63, 'deg': 99, 'gust': 1.77},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2023-08-14 15:00:00'},
  {'dt': 1692036000,
   'main': {'temp': 296.51,
    'feels_like': 296.1,
    'temp_min': 296.51,
    'temp_max': 296.51,
    'pressure': 1015,
    'sea_level': 1015,
    'grnd_level': 995,
    'humidity': 46,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}],
   'clouds': {'all': 94},
   'wind': {'speed': 2.32, 'deg': 127, 'gust': 2.15},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2023-08-14 18:00:00'},
  {'dt': 1692046800,
   'main': {'temp': 295.4,
    'feels_like': 294.99,
    'temp_min': 295.4,
    'temp_max': 295.4,
    'pressure': 1013,
    'sea_level': 1013,
    'grnd_level': 994,
    'humidity': 50,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}],
   'clouds': {'all': 100},
   'wind': {'speed': 2.99, 'deg': 147, 'gust': 3.27},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2023-08-14 21:00:00'},
  {'dt': 1692057600,
   'main': {'temp': 293.11,
    'feels_like': 292.73,
    'temp_min': 293.11,
    'temp_max': 293.11,
    'pressure': 1012,
    'sea_level': 1012,
    'grnd_level': 992,
    'humidity': 60,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}],
   'clouds': {'all': 98},
   'wind': {'speed': 2.64, 'deg': 94, 'gust': 5.42},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2023-08-15 00:00:00'},
  {'dt': 1692068400,
   'main': {'temp': 292.09,
    'feels_like': 291.87,
    'temp_min': 292.09,
    'temp_max': 292.09,
    'pressure': 1011,
    'sea_level': 1011,
    'grnd_level': 991,
    'humidity': 70,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04n'}],
   'clouds': {'all': 99},
   'wind': {'speed': 2.96, 'deg': 81, 'gust': 7.62},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2023-08-15 03:00:00'},
  {'dt': 1692079200,
   'main': {'temp': 290.21,
    'feels_like': 290.3,
    'temp_min': 290.21,
    'temp_max': 290.21,
    'pressure': 1010,
    'sea_level': 1010,
    'grnd_level': 990,
    'humidity': 89,
    'temp_kf': 0},
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10n'}],
   'clouds': {'all': 100},
   'wind': {'speed': 4.08, 'deg': 68, 'gust': 9.54},
   'visibility': 10000,
   'pop': 0.73,
   'rain': {'3h': 0.84},
   'sys': {'pod': 'n'},
   'dt_txt': '2023-08-15 06:00:00'},
  {'dt': 1692090000,
   'main': {'temp': 290.03,
    'feels_like': 290.07,
    'temp_min': 290.03,
    'temp_max': 290.03,
    'pressure': 1008,
    'sea_level': 1008,
    'grnd_level': 988,
    'humidity': 88,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04n'}],
   'clouds': {'all': 100},
   'wind': {'speed': 4.88, 'deg': 75, 'gust': 11.3},
   'visibility': 10000,
   'pop': 0.3,
   'sys': {'pod': 'n'},
   'dt_txt': '2023-08-15 09:00:00'},
  {'dt': 1692100800,
   'main': {'temp': 289.74,
    'feels_like': 289.8,
    'temp_min': 289.74,
    'temp_max': 289.74,
    'pressure': 1008,
    'sea_level': 1008,
    'grnd_level': 988,
    'humidity': 90,
    'temp_kf': 0},
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'clouds': {'all': 100},
   'wind': {'speed': 5.25, 'deg': 69, 'gust': 11.71},
   'visibility': 10000,
   'pop': 0.89,
   'rain': {'3h': 0.57},
   'sys': {'pod': 'd'},
   'dt_txt': '2023-08-15 12:00:00'},
  {'dt': 1692111600,
   'main': {'temp': 289.26,
    'feels_like': 289.35,
    'temp_min': 289.26,
    'temp_max': 289.26,
    'pressure': 1009,
    'sea_level': 1009,
    'grnd_level': 989,
    'humidity': 93,
    'temp_kf': 0},
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'clouds': {'all': 100},
   'wind': {'speed': 4.47, 'deg': 56, 'gust': 10.09},
   'visibility': 9739,
   'pop': 1,
   'rain': {'3h': 2.34},
   'sys': {'pod': 'd'},
   'dt_txt': '2023-08-15 15:00:00'},
  {'dt': 1692122400,
   'main': {'temp': 289.46,
    'feels_like': 289.55,
    'temp_min': 289.46,
    'temp_max': 289.46,
    'pressure': 1009,
    'sea_level': 1009,
    'grnd_level': 989,
    'humidity': 92,
    'temp_kf': 0},
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'clouds': {'all': 100},
   'wind': {'speed': 4.54, 'deg': 47, 'gust': 9.45},
   'visibility': 10000,
   'pop': 1,
   'rain': {'3h': 1.41},
   'sys': {'pod': 'd'},
   'dt_txt': '2023-08-15 18:00:00'},
  {'dt': 1692133200,
   'main': {'temp': 289.38,
    'feels_like': 289.41,
    'temp_min': 289.38,
    'temp_max': 289.38,
    'pressure': 1010,
    'sea_level': 1010,
    'grnd_level': 990,
    'humidity': 90,
    'temp_kf': 0},
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'clouds': {'all': 100},
   'wind': {'speed': 4.03, 'deg': 32, 'gust': 9.71},
   'visibility': 10000,
   'pop': 1,
   'rain': {'3h': 0.6},
   'sys': {'pod': 'd'},
   'dt_txt': '2023-08-15 21:00:00'},
  {'dt': 1692144000,
   'main': {'temp': 289.02,
    'feels_like': 289.12,
    'temp_min': 289.02,
    'temp_max': 289.02,
    'pressure': 1011,
    'sea_level': 1011,
    'grnd_level': 991,
    'humidity': 94,
    'temp_kf': 0},
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'clouds': {'all': 100},
   'wind': {'speed': 2.89, 'deg': 4, 'gust': 6.6},
   'visibility': 10000,
   'pop': 1,
   'rain': {'3h': 1.22},
   'sys': {'pod': 'd'},
   'dt_txt': '2023-08-16 00:00:00'},
  {'dt': 1692154800,
   'main': {'temp': 289.03,
    'feels_like': 289.13,
    'temp_min': 289.03,
    'temp_max': 289.03,
    'pressure': 1012,
    'sea_level': 1012,
    'grnd_level': 992,
    'humidity': 94,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04n'}],
   'clouds': {'all': 100},
   'wind': {'speed': 2.64, 'deg': 354, 'gust': 7.36},
   'visibility': 10000,
   'pop': 0.02,
   'sys': {'pod': 'n'},
   'dt_txt': '2023-08-16 03:00:00'},
  {'dt': 1692165600,
   'main': {'temp': 289.26,
    'feels_like': 289.35,
    'temp_min': 289.26,
    'temp_max': 289.26,
    'pressure': 1012,
    'sea_level': 1012,
    'grnd_level': 992,
    'humidity': 93,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04n'}],
   'clouds': {'all': 100},
   'wind': {'speed': 2.78, 'deg': 350, 'gust': 7.78},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2023-08-16 06:00:00'},
  {'dt': 1692176400,
   'main': {'temp': 288.61,
    'feels_like': 288.64,
    'temp_min': 288.61,
    'temp_max': 288.61,
    'pressure': 1013,
    'sea_level': 1013,
    'grnd_level': 993,
    'humidity': 93,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04n'}],
   'clouds': {'all': 91},
   'wind': {'speed': 2.54, 'deg': 330, 'gust': 7.12},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2023-08-16 09:00:00'},
  {'dt': 1692187200,
   'main': {'temp': 289.94,
    'feels_like': 289.92,
    'temp_min': 289.94,
    'temp_max': 289.94,
    'pressure': 1014,
    'sea_level': 1014,
    'grnd_level': 994,
    'humidity': 86,
    'temp_kf': 0},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04d'}],
   'clouds': {'all': 58},
   'wind': {'speed': 2.07, 'deg': 337, 'gust': 5.08},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2023-08-16 12:00:00'},
  {'dt': 1692198000,
   'main': {'temp': 296.7,
    'feels_like': 296.52,
    'temp_min': 296.7,
    'temp_max': 296.7,
    'pressure': 1015,
    'sea_level': 1015,
    'grnd_level': 995,
    'humidity': 54,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'clouds': {'all': 0},
   'wind': {'speed': 1.19, 'deg': 359, 'gust': 1.93},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2023-08-16 15:00:00'},
  {'dt': 1692208800,
   'main': {'temp': 299.7,
    'feels_like': 299.7,
    'temp_min': 299.7,
    'temp_max': 299.7,
    'pressure': 1014,
    'sea_level': 1014,
    'grnd_level': 995,
    'humidity': 42,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'clouds': {'all': 2},
   'wind': {'speed': 1.59, 'deg': 219, 'gust': 2.55},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2023-08-16 18:00:00'},
  {'dt': 1692219600,
   'main': {'temp': 299.82,
    'feels_like': 299.82,
    'temp_min': 299.82,
    'temp_max': 299.82,
    'pressure': 1013,
    'sea_level': 1013,
    'grnd_level': 994,
    'humidity': 41,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'clouds': {'all': 0},
   'wind': {'speed': 2.2, 'deg': 201, 'gust': 2.93},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2023-08-16 21:00:00'},
  {'dt': 1692230400,
   'main': {'temp': 295.82,
    'feels_like': 295.58,
    'temp_min': 295.82,
    'temp_max': 295.82,
    'pressure': 1013,
    'sea_level': 1013,
    'grnd_level': 994,
    'humidity': 55,
    'temp_kf': 0},
   'weather': [{'id': 801,
     'main': 'Clouds',
     'description': 'few clouds',
     'icon': '02d'}],
   'clouds': {'all': 19},
   'wind': {'speed': 2.3, 'deg': 175, 'gust': 4.93},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2023-08-17 00:00:00'},
  {'dt': 1692241200,
   'main': {'temp': 293.12,
    'feels_like': 293.05,
    'temp_min': 293.12,
    'temp_max': 293.12,
    'pressure': 1014,
    'sea_level': 1014,
    'grnd_level': 994,
    'humidity': 72,
    'temp_kf': 0},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04n'}],
   'clouds': {'all': 65},
   'wind': {'speed': 2.29, 'deg': 201, 'gust': 5.98},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2023-08-17 03:00:00'},
  {'dt': 1692252000,
   'main': {'temp': 291.23,
    'feels_like': 291.1,
    'temp_min': 291.23,
    'temp_max': 291.23,
    'pressure': 1012,
    'sea_level': 1012,
    'grnd_level': 993,
    'humidity': 77,
    'temp_kf': 0},
   'weather': [{'id': 802,
     'main': 'Clouds',
     'description': 'scattered clouds',
     'icon': '03n'}],
   'clouds': {'all': 33},
   'wind': {'speed': 1.98, 'deg': 206, 'gust': 5.46},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2023-08-17 06:00:00'},
  {'dt': 1692262800,
   'main': {'temp': 290.03,
    'feels_like': 289.73,
    'temp_min': 290.03,
    'temp_max': 290.03,
    'pressure': 1012,
    'sea_level': 1012,
    'grnd_level': 992,
    'humidity': 75,
    'temp_kf': 0},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04n'}],
   'clouds': {'all': 64},
   'wind': {'speed': 1.74, 'deg': 214, 'gust': 4.44},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2023-08-17 09:00:00'},
  {'dt': 1692273600,
   'main': {'temp': 291.65,
    'feels_like': 291.57,
    'temp_min': 291.65,
    'temp_max': 291.65,
    'pressure': 1010,
    'sea_level': 1010,
    'grnd_level': 990,
    'humidity': 77,
    'temp_kf': 0},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04d'}],
   'clouds': {'all': 67},
   'wind': {'speed': 3.25, 'deg': 189, 'gust': 9.21},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2023-08-17 12:00:00'},
  {'dt': 1692284400,
   'main': {'temp': 296.95,
    'feels_like': 296.93,
    'temp_min': 296.95,
    'temp_max': 296.95,
    'pressure': 1008,
    'sea_level': 1008,
    'grnd_level': 989,
    'humidity': 59,
    'temp_kf': 0},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04d'}],
   'clouds': {'all': 59},
   'wind': {'speed': 5.94, 'deg': 206, 'gust': 9.98},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2023-08-17 15:00:00'},
  {'dt': 1692295200,
   'main': {'temp': 298.28,
    'feels_like': 298.26,
    'temp_min': 298.28,
    'temp_max': 298.28,
    'pressure': 1006,
    'sea_level': 1006,
    'grnd_level': 986,
    'humidity': 54,
    'temp_kf': 0},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04d'}],
   'clouds': {'all': 79},
   'wind': {'speed': 6.5, 'deg': 204, 'gust': 10.96},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2023-08-17 18:00:00'},
  {'dt': 1692306000,
   'main': {'temp': 299.13,
    'feels_like': 299.13,
    'temp_min': 299.13,
    'temp_max': 299.13,
    'pressure': 1004,
    'sea_level': 1004,
    'grnd_level': 985,
    'humidity': 49,
    'temp_kf': 0},
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'clouds': {'all': 62},
   'wind': {'speed': 7.58, 'deg': 227, 'gust': 11.63},
   'visibility': 10000,
   'pop': 0.46,
   'rain': {'3h': 0.23},
   'sys': {'pod': 'd'},
   'dt_txt': '2023-08-17 21:00:00'},
  {'dt': 1692316800,
   'main': {'temp': 292.39,
    'feels_like': 292.8,
    'temp_min': 292.39,
    'temp_max': 292.39,
    'pressure': 1005,
    'sea_level': 1005,
    'grnd_level': 985,
    'humidity': 93,
    'temp_kf': 0},
   'weather': [{'id': 501,
     'main': 'Rain',
     'description': 'moderate rain',
     'icon': '10d'}],
   'clouds': {'all': 80},
   'wind': {'speed': 5.77, 'deg': 223, 'gust': 12.7},
   'visibility': 10000,
   'pop': 1,
   'rain': {'3h': 9.68},
   'sys': {'pod': 'd'},
   'dt_txt': '2023-08-18 00:00:00'},
  {'dt': 1692327600,
   'main': {'temp': 289.14,
    'feels_like': 289.04,
    'temp_min': 289.14,
    'temp_max': 289.14,
    'pressure': 1006,
    'sea_level': 1006,
    'grnd_level': 986,
    'humidity': 86,
    'temp_kf': 0},
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10n'}],
   'clouds': {'all': 4},
   'wind': {'speed': 5.13, 'deg': 291, 'gust': 13.41},
   'visibility': 10000,
   'pop': 0.74,
   'rain': {'3h': 0.64},
   'sys': {'pod': 'n'},
   'dt_txt': '2023-08-18 03:00:00'},
  {'dt': 1692338400,
   'main': {'temp': 288.07,
    'feels_like': 287.73,
    'temp_min': 288.07,
    'temp_max': 288.07,
    'pressure': 1007,
    'sea_level': 1007,
    'grnd_level': 987,
    'humidity': 81,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01n'}],
   'clouds': {'all': 2},
   'wind': {'speed': 5.1, 'deg': 263, 'gust': 11.79},
   'visibility': 10000,
   'pop': 0.5,
   'sys': {'pod': 'n'},
   'dt_txt': '2023-08-18 06:00:00'},
  {'dt': 1692349200,
   'main': {'temp': 288.54,
    'feels_like': 288.12,
    'temp_min': 288.54,
    'temp_max': 288.54,
    'pressure': 1008,
    'sea_level': 1008,
    'grnd_level': 988,
    'humidity': 76,
    'temp_kf': 0},
   'weather': [{'id': 802,
     'main': 'Clouds',
     'description': 'scattered clouds',
     'icon': '03n'}],
   'clouds': {'all': 41},
   'wind': {'speed': 5.62, 'deg': 280, 'gust': 12.24},
   'visibility': 10000,
   'pop': 0.08,
   'sys': {'pod': 'n'},
   'dt_txt': '2023-08-18 09:00:00'},
  {'dt': 1692360000,
   'main': {'temp': 288.34,
    'feels_like': 287.77,
    'temp_min': 288.34,
    'temp_max': 288.34,
    'pressure': 1011,
    'sea_level': 1011,
    'grnd_level': 991,
    'humidity': 71,
    'temp_kf': 0},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04d'}],
   'clouds': {'all': 70},
   'wind': {'speed': 6.1, 'deg': 298, 'gust': 12.19},
   'visibility': 10000,
   'pop': 0.14,
   'sys': {'pod': 'd'},
   'dt_txt': '2023-08-18 12:00:00'},
  {'dt': 1692370800,
   'main': {'temp': 290.28,
    'feels_like': 289.69,
    'temp_min': 290.28,
    'temp_max': 290.28,
    'pressure': 1013,
    'sea_level': 1013,
    'grnd_level': 993,
    'humidity': 63,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}],
   'clouds': {'all': 86},
   'wind': {'speed': 6.97, 'deg': 311, 'gust': 11.69},
   'visibility': 10000,
   'pop': 0.08,
   'sys': {'pod': 'd'},
   'dt_txt': '2023-08-18 15:00:00'},
  {'dt': 1692381600,
   'main': {'temp': 293.03,
    'feels_like': 292.46,
    'temp_min': 293.03,

In [43]:
print(data_f.keys())

dict_keys(['cod', 'message', 'cnt', 'list', 'city'])

In [44]:
forcast_df = pd.DataFrame(data_f['list'])

In [45]:
current_date = datetime.now().date()

In [46]:
main = ['temp', 'feels_like', 'temp_min', 'temp_max', 'pressure', 'humidity', 'temp_kf']
for column in main:
    forcast_df [f'main_{column}'] = forcast_df ['main'].apply(lambda x: x[column])

w_c = ['id', 'main', 'description', 'icon']
for column in w_c:
    forcast_df [f'weather_{column}'] = forcast_df ['weather'].apply(lambda x: x[0][column])

forcast_df .drop(['main', 'weather'], axis=1, inplace=True)

forcast_df .sample(10)

,dt,clouds,wind,visibility,pop,sys,dt_txt,rain,main_temp,main_feels_like,main_temp_min,main_temp_max,main_pressure,main_humidity,main_temp_kf,weather_id,weather_main,weather_description,weather_icon
28,1692273600,{'all': 67},"{'speed': 3.25, 'deg': 189, 'gust': 9.21}",10000,0.00,{'pod': 'd'},2023-08-17 12:00:00,NaN,291.65,291.57,291.65,291.65,1010,77,0.00,803,Clouds,broken clouds,04d
5,1692025200,{'all': 88},"{'speed': 1.63, 'deg': 99, 'gust': 1.77}",10000,0.00,{'pod': 'd'},2023-08-14 15:00:00,NaN,294.19,293.73,294.19,294.19,1017,53,0.00,804,Clouds,overcast clouds,04d
29,1692284400,{'all': 59},"{'speed': 5.94, 'deg': 206, 'gust': 9.98}",10000,0.00,{'pod': 'd'},2023-08-17 15:00:00,NaN,296.95,296.93,296.95,296.95,1008,59,0.00,803,Clouds,broken clouds,04d
13,1692111600,{'all': 100},"{'speed': 4.47, 'deg': 56, 'gust': 10.09}",9739,1.00,{'pod': 'd'},2023-08-15 15:00:00,{'3h': 2.34},289.26,289.35,289.26,289.26,1009,93,0.00,500,Rain,light rain,10d
14,1692122400,{'all': 100},"{'speed': 4.54, 'deg': 47, 'gust': 9.45}",10000,1.00,{'pod': 'd'},2023-08-15 18:00:00,{'3h': 1.41},289.46,289.55,289.46,289.46,1009,92,0.00,500,Rain,light rain,10d
20,1692187200,{'all': 58},"{'speed': 2.07, 'deg': 337, 'gust': 5.08}",10000,0.00,{'pod': 'd'},2023-08-16 12:00:00,NaN,289.94,289.92,289.94,289.94,1014,86,0.00,803,Clouds,broken clouds,04d
12,1692100800,{'all': 100},"{'speed': 5.25, 'deg': 69, 'gust': 11.71}",10000,0.89,{'pod': 'd'},2023-08-15 12:00:00,{'3h': 0.57},289.74,289.80,289.74,289.74,1008,90,0.00,500,Rain,light rain,10d
16,1692144000,{'all': 100},"{'speed': 2.89, 'deg': 4, 'gust': 6.6}",10000,1.00,{'pod': 'd'},2023-08-16 00:00:00,{'3h': 1.22},289.02,289.12,289.02,289.02,1011,94,0.00,500,Rain,light rain,10d
3,1692003600,{'all': 71},"{'speed': 1.73, 'deg': 340, 'gust': 3.24}",10000,0.00,{'pod': 'n'},2023-08-14 09:00:00,NaN,287.54,287.23,287.54,287.54,1016,84,0.00,803,Clouds,broken clouds,04n
0,1691971200,{'all': 99},"{'speed': 4.26, 'deg': 333, 'gust': 8.01}",10000,0.00,{'pod': 'd'},2023-08-14 00:00:00,NaN,295.66,295.64,292.45,295.66,1014,64,3.21,804,Clouds,overcast clouds,04d

In [47]:
forcast_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   dt                   40 non-null     int64
 1   clouds               40 non-null     object
 2   wind                 40 non-null     object
 3   visibility           40 non-null     int64
 4   pop                  40 non-null     float64
 5   sys                  40 non-null     object
 6   dt_txt               40 non-null     object
 7   rain                 9 non-null      object
 8   main_temp            40 non-null     float64
 9   main_feels_like      40 non-null     float64
 10  main_temp_min        40 non-null     float64
 11  main_temp_max        40 non-null     float64
 12  main_pressure        40 non-null     int64
 13  main_humidity        40 non-null     int64
 14  main_temp_kf         40 non-null     float64
 15  weather_id           40 non-null     int64
 16  weather_main         40 non-null     object
 17  weather_description  40 non-null     object
 18  weather_icon         40 non-null     object
dtypes: float64(6), int64(5), object(8)
memory usage: 6.1+ KB

In [48]:
forcast_df ['dt'] = pd.to_datetime(forcast_df ['dt_txt'])

In [49]:
forcast_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   dt                   40 non-null     datetime64[ns]
 1   clouds               40 non-null     object
 2   wind                 40 non-null     object
 3   visibility           40 non-null     int64
 4   pop                  40 non-null     float64
 5   sys                  40 non-null     object
 6   dt_txt               40 non-null     object
 7   rain                 9 non-null      object
 8   main_temp            40 non-null     float64
 9   main_feels_like      40 non-null     float64
 10  main_temp_min        40 non-null     float64
 11  main_temp_max        40 non-null     float64
 12  main_pressure        40 non-null     int64
 13  main_humidity        40 non-null     int64
 14  main_temp_kf         40 non-null     float64
 15  weather_id           40 non-null     int64
 16  weather_main         40 non-null     object
 17  weather_description  40 non-null     object
 18  weather_icon         40 non-null     object
dtypes: datetime64[ns](1), float64(6), int64(4), object(8)
memory usage: 6.1+ KB

# Push Weather Forcast to postgres server

In [50]:
db_secret= {
    'drivername': 'postgresql+psycopg2',
    'host': 'mmai5100postgres.canadacentral.cloudapp.azure.com',
    'port': '5432',
   'username': 'sriku241',
   'password': '2023!Schulich',
   'database': 'sriku241_db'
}

In [51]:
db_connection_url= sa.engine.URL.create(

drivername= db_secret['drivername'],
username= db_secret['username'],
password= db_secret['password'],
host= db_secret['host'],
port= db_secret['port'],
database= db_secret['database']
)

In [52]:
engine= sa.create_engine(db_connection_url)

In [53]:
create_schema_query = sa.text("CREATE SCHEMA IF NOT EXISTS p2_group_assignment")
with engine.connect() as connection:
    connection.execute(create_schema_query)

In [54]:
forcast_df .columns

Index(['dt', 'clouds', 'wind', 'visibility', 'pop', 'sys', 'dt_txt', 'rain',
       'main_temp', 'main_feels_like', 'main_temp_min', 'main_temp_max',
       'main_pressure', 'main_humidity', 'main_temp_kf', 'weather_id',
       'weather_main', 'weather_description', 'weather_icon'],
      dtype='object')

In [55]:
forcast_weather = forcast_df [['dt','visibility', 'pop', 'rain', 'sys',
       'main_temp', 'main_feels_like', 'main_temp_min', 'main_temp_max',
       'main_pressure', 'main_humidity', 'main_temp_kf',
       'weather_main', 'weather_description']]

In [56]:
forcast_weather.dtypes

dt                     datetime64[ns]
visibility                      int64
pop                           float64
rain                           object
sys                            object
main_temp                     float64
main_feels_like               float64
main_temp_min                 float64
main_temp_max                 float64
main_pressure                   int64
main_humidity                   int64
main_temp_kf                  float64
weather_main                   object
weather_description            object
dtype: object

In [57]:
forcast_weather['rain_3h'] = forcast_weather['rain'].apply(lambda x: x['3h'] if isinstance(x, dict) and '3h' in x else np.nan)
forcast_weather.drop(columns=['rain'], inplace=True)
forcast_weather.sample(5)

C:\Users\srika\AppData\Local\Temp\ipykernel_11360\458232954.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  forcast_weather['rain_3h'] = forcast_weather['rain'].apply(lambda x: x['3h'] if isinstance(x, dict) and '3h' in x else np.nan)
C:\Users\srika\AppData\Local\Temp\ipykernel_11360\458232954.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  forcast_weather.drop(columns=['rain'], inplace=True)

,dt,visibility,pop,sys,main_temp,main_feels_like,main_temp_min,main_temp_max,main_pressure,main_humidity,main_temp_kf,weather_main,weather_description,rain_3h
33,2023-08-18 03:00:00,10000,0.74,{'pod': 'n'},289.14,289.04,289.14,289.14,1006,86,0.00,Rain,light rain,0.64
37,2023-08-18 15:00:00,10000,0.08,{'pod': 'd'},290.28,289.69,290.28,290.28,1013,63,0.00,Clouds,overcast clouds,NaN
6,2023-08-14 18:00:00,10000,0.00,{'pod': 'd'},296.51,296.10,296.51,296.51,1015,46,0.00,Clouds,overcast clouds,NaN
3,2023-08-14 09:00:00,10000,0.00,{'pod': 'n'},287.54,287.23,287.54,287.54,1016,84,0.00,Clouds,broken clouds,NaN
1,2023-08-14 03:00:00,10000,0.00,{'pod': 'n'},292.32,292.15,289.84,292.32,1015,71,2.48,Clouds,overcast clouds,NaN

In [58]:
forcast_weather['sys'] = forcast_weather['sys'].apply(json.dumps)

C:\Users\srika\AppData\Local\Temp\ipykernel_11360\4160365095.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  forcast_weather['sys'] = forcast_weather['sys'].apply(json.dumps)

In [59]:
import warnings
warnings.filterwarnings("ignore")

In [60]:
forcast_weather.to_sql(
    name='forcast_weather',
    schema='p2_group_assignment',
    con=engine,
    if_exists='replace',  
    index=False,
    dtype={
        'dt': sa.types.DateTime,
        'clouds': sa.types.VARCHAR(255),  
        'wind': sa.types.VARCHAR(255),
        'visibility': sa.types.Integer,
        'pop': sa.types.DECIMAL(10,2),
        'sys': sa.types.VARCHAR(255),
        'rain_3h': sa.types.DECIMAL(10,2),  
        'main_temp': sa.types.DECIMAL(10,2),
        'main_feels_like': sa.types.DECIMAL(10,2),
        'main_temp_min': sa.types.DECIMAL(10,2),
        'main_temp_max': sa.types.DECIMAL(10,2),
        'main_pressure': sa.types.Integer,
        'main_humidity': sa.types.DECIMAL(10,2),
        'main_temp_kf': sa.types.DECIMAL(10,2),
        'weather_main': sa.types.VARCHAR(255),
        'weather_description': sa.types.VARCHAR(255)
    }
)

40

# For Current Waether

In [61]:
api_url_1 = 'https://api.openweathermap.org/data/2.5/weather?lat={}&lon={}&limit={}&offset={}&appid={}'.format(lat,long, limit, offset, appid)
print(api_url_1)

https://api.openweathermap.org/data/2.5/weather?lat=43.8143&lon=-79.4240&limit=1500&offset=0&appid=69b9eac66ab7d3985df833d77d77bc86

In [62]:
api_response_1 = requests.get(api_url_1)
api_response_1

In [63]:
data_w = api_response_1.json()
data_w

{'coord': {'lon': -79.424, 'lat': 43.8143},
 'weather': [{'id': 804,
   'main': 'Clouds',
   'description': 'overcast clouds',
   'icon': '04d'}],
 'base': 'stations',
 'main': {'temp': 297.27,
  'feels_like': 297.38,
  'temp_min': 295.93,
  'temp_max': 299.81,
  'pressure': 1013,
  'humidity': 63},
 'visibility': 10000,
 'wind': {'speed': 1.79, 'deg': 338, 'gust': 4.02},
 'clouds': {'all': 100},
 'dt': 1691962028,
 'sys': {'type': 2,
  'id': 2036018,
  'country': 'CA',
  'sunrise': 1691921968,
  'sunset': 1691972755},
 'timezone': -14400,
 'id': 6165683,
 'name': 'Thornhill',
 'cod': 200}

In [64]:
print(data_w.keys())

dict_keys(['coord', 'weather', 'base', 'main', 'visibility', 'wind', 'clouds', 'dt', 'sys', 'timezone', 'id', 'name', 'cod'])

In [65]:
current_weather = pd.json_normalize(data_w)
current_weather

,weather,base,visibility,dt,timezone,id,name,cod,coord.lon,coord.lat,...,main.humidity,wind.speed,wind.deg,wind.gust,clouds.all,sys.type,sys.id,sys.country,sys.sunrise,sys.sunset
0,"[{'id': 804, 'main': 'Clouds', 'description': ...",stations,10000,1691962028,-14400,6165683,Thornhill,200,-79.424,43.8143,...,63,1.79,338,4.02,100,2,2036018,CA,1691921968,1691972755

In [66]:
current_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 25 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   weather          1 non-null      object
 1   base             1 non-null      object
 2   visibility       1 non-null      int64
 3   dt               1 non-null      int64
 4   timezone         1 non-null      int64
 5   id               1 non-null      int64
 6   name             1 non-null      object
 7   cod              1 non-null      int64
 8   coord.lon        1 non-null      float64
 9   coord.lat        1 non-null      float64
 10  main.temp        1 non-null      float64
 11  main.feels_like  1 non-null      float64
 12  main.temp_min    1 non-null      float64
 13  main.temp_max    1 non-null      float64
 14  main.pressure    1 non-null      int64
 15  main.humidity    1 non-null      int64
 16  wind.speed       1 non-null      float64
 17  wind.deg         1 non-null      int64
 18  wind.gust        1 non-null      float64
 19  clouds.all       1 non-null      int64
 20  sys.type         1 non-null      int64
 21  sys.id           1 non-null      int64
 22  sys.country      1 non-null      object
 23  sys.sunrise      1 non-null      int64
 24  sys.sunset       1 non-null      int64
dtypes: float64(8), int64(13), object(4)
memory usage: 332.0+ bytes

In [67]:
current_weather['dt'] = pd.to_datetime(current_weather['dt'], unit='s')
current_weather['sys.sunrise'] = pd.to_datetime(current_weather['sys.sunrise'], unit='s')
current_weather['sys.sunset'] = pd.to_datetime(current_weather['sys.sunset'], unit='s')
current_weather

,weather,base,visibility,dt,timezone,id,name,cod,coord.lon,coord.lat,...,main.humidity,wind.speed,wind.deg,wind.gust,clouds.all,sys.type,sys.id,sys.country,sys.sunrise,sys.sunset
0,"[{'id': 804, 'main': 'Clouds', 'description': ...",stations,10000,2023-08-13 21:27:08,-14400,6165683,Thornhill,200,-79.424,43.8143,...,63,1.79,338,4.02,100,2,2036018,CA,2023-08-13 10:19:28,2023-08-14 00:25:55

In [68]:
current_date = datetime.now().date()

In [69]:
current_weather['current_date'] = current_date

In [70]:
cols = current_weather.columns.tolist()
cols = ['current_date'] + [col for col in cols if col != 'current_date']
current_weather = current_weather[cols]
current_weather

,current_date,weather,base,visibility,dt,timezone,id,name,cod,coord.lon,...,main.humidity,wind.speed,wind.deg,wind.gust,clouds.all,sys.type,sys.id,sys.country,sys.sunrise,sys.sunset
0,2023-08-13,"[{'id': 804, 'main': 'Clouds', 'description': ...",stations,10000,2023-08-13 21:27:08,-14400,6165683,Thornhill,200,-79.424,...,63,1.79,338,4.02,100,2,2036018,CA,2023-08-13 10:19:28,2023-08-14 00:25:55

In [71]:
current_weather['weather_id'] = current_weather['weather'].apply(lambda x: x[0]['id'])
current_weather['weather_main'] = current_weather['weather'].apply(lambda x: x[0]['main'])
current_weather['weather_description'] = current_weather['weather'].apply(lambda x: x[0]['description'])
current_weather.drop(columns=['weather'], inplace=True)

In [72]:
current_weather.columns

Index(['current_date', 'base', 'visibility', 'dt', 'timezone', 'id', 'name',
       'cod', 'coord.lon', 'coord.lat', 'main.temp', 'main.feels_like',
       'main.temp_min', 'main.temp_max', 'main.pressure', 'main.humidity',
       'wind.speed', 'wind.deg', 'wind.gust', 'clouds.all', 'sys.type',
       'sys.id', 'sys.country', 'sys.sunrise', 'sys.sunset', 'weather_id',
       'weather_main', 'weather_description'],
      dtype='object')

# Push Current Weather to Postgres database

####  Ingest the data into your own database in our PostgreSQL server<br>

In [73]:
current_weather.to_sql(
    name = 'current_weather',
    schema= 'p2_group_assignment',
    con = engine,
    if_exists = 'replace',
    index = False,
    dtype = {
        'base' : sa.types.VARCHAR(255),
        'visibility' : sa.Integer,
        'dt': sa.types.DateTime,
        'timezone': sa.types.Integer,
        'id': sa.types.Integer,
        'name': sa.types.VARCHAR(255),
        'cod': sa.types.Integer,
        'coord.lon': sa.types.DECIMAL(10,2),
        'coord.lat': sa.types.DECIMAL(10,2),
        'weather.id': sa.types.Integer,
        'weather.main': sa.types.VARCHAR(255),
        'weather.description': sa.types.VARCHAR(60),
        'weather.icon': sa.types.VARCHAR(255),
        'main.temp': sa.types.DECIMAL(10,2),
        'main.feels_like': sa.types.DECIMAL(10,2),
        'main.temp_min': sa.types.DECIMAL(10,2),
        'main.temp_max': sa.types.DECIMAL(10,2),
        'main.pressure': sa.types.Integer,
        'main.humidity': sa.types.Integer,
        'wind.speed': sa.types.DECIMAL(10,2),
        'wind.deg': sa.types.Integer,
        'wind.gust': sa.types.DECIMAL(10,2),
        'clouds.all': sa.types.Integer,
        'sys.type': sa.types.Integer,
        'sys.id': sa.types.Integer,
        'sys.country': sa.types.VARCHAR(255),
        'sys.sunrise': sa.types.DateTime,
        'sys.sunset': sa.types.DateTime,
        'weather_id': sa.types.Integer,
        'weather_main': sa.types.VARCHAR(255),
        'weather_description': sa.types.VARCHAR(255)
        }
)

1

In [74]:
warnings.resetwarnings()