In [95]:
import pandas as pd
import sqlalchemy as sa
import requests

In [96]:
!pip install psycopg2
!pip install psycopg2-binary

Requirement already satisfied: psycopg2 in c:\users\srika\anaconda3\lib\site-packages (2.9.6)
Requirement already satisfied: psycopg2-binary in c:\users\srika\anaconda3\lib\site-packages (2.9.7)

In [97]:
db_secret = {
    'drivername' : 'postgresql+psycopg2',
    'host'       : 'mmai5100postgres.canadacentral.cloudapp.azure.com',
    'port'       :'5432',
    'username'   : 'sriku241',
    'password'   :'2023!Schulich',
    'database'   :'mban_db',
    
}

In [98]:
db_connection_url = sa.engine.URL.create(
    drivername = db_secret['drivername'],
    username   = db_secret['username'],
    password   = db_secret['password'],
    host       = db_secret['host'],
    port       = db_secret['port'],
    database   = db_secret['database']
)

In [99]:
engine = sa.create_engine(db_connection_url)

In [100]:
with engine.connect() as connection :
    data = pd.read_sql('SELECT * FROM dimensions.date_dimension;',con=connection)

In [101]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1826 entries, 0 to 1825
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sk_date          1826 non-null   int64
 1   date             1826 non-null   object
 2   day_name         1826 non-null   object
 3   day_of_month     1826 non-null   int64
 4   day_of_year      1826 non-null   int64
 5   month            1826 non-null   int64
 6   month_name       1826 non-null   object
 7   year             1826 non-null   int64
 8   year_week        1826 non-null   object
 9   week             1826 non-null   object
 10  running_week     1826 non-null   int64
 11  year_quarter     1826 non-null   object
 12  quarter          1826 non-null   object
 13  running_quarter  1826 non-null   int64
dtypes: int64(7), object(7)
memory usage: 199.8+ KB

In [102]:
db_secret = {
    'drivername' : 'postgresql+psycopg2',
    'host'       : 'mmai5100postgres.canadacentral.cloudapp.azure.com',
    'port'       :'5432',
    'username'   : 'sriku241',
    'password'   :'2023!Schulich',
    'database'   :'sriku241_db'
    
}

In [103]:
db_connection_url = sa.engine.URL.create(
    drivername = db_secret['drivername'],
    username   = db_secret['username'],
    password   = db_secret['password'],
    host       = db_secret['host'],
    port       = db_secret['port'],
    database   = db_secret['database']
)

In [104]:
engine = sa.create_engine(db_connection_url)

In [105]:
with engine.connect() as connection :
    connection.execute('CREATE SCHEMA IF NOT EXISTS final_exam;')

In [106]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1826 entries, 0 to 1825
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sk_date          1826 non-null   int64
 1   date             1826 non-null   object
 2   day_name         1826 non-null   object
 3   day_of_month     1826 non-null   int64
 4   day_of_year      1826 non-null   int64
 5   month            1826 non-null   int64
 6   month_name       1826 non-null   object
 7   year             1826 non-null   int64
 8   year_week        1826 non-null   object
 9   week             1826 non-null   object
 10  running_week     1826 non-null   int64
 11  year_quarter     1826 non-null   object
 12  quarter          1826 non-null   object
 13  running_quarter  1826 non-null   int64
dtypes: int64(7), object(7)
memory usage: 199.8+ KB

In [107]:
data.to_sql(
name = 'date_dimension',
schema = 'final_exam',
con = engine,
if_exists = 'replace',
index =False,
    method = 'multi',
    dtype = {
        'sk_date': sa.types.INTEGER,
        'date': sa.types.Date,
        'day_name': sa.types.VARCHAR(255),
        'day_of_month': sa.types.INTEGER,
        'day_of_year': sa.types.INTEGER,
        'month': sa.types.INTEGER,
        'month_name': sa.types.VARCHAR(255),
        'year': sa.types.INTEGER,
        'year_week': sa.types.VARCHAR(255),
        'week': sa.types.VARCHAR(255),
        'running_week': sa.types.INTEGER,
        'year_quarter': sa.types.VARCHAR(255),
        'quarter': sa.types.VARCHAR(255),
        'running_quarter': sa.types.INTEGER,
       
    }
)

1826